@use "../../var";


// Animation for entrance
@keyframes graphicEntrance {
    0% { opacity: 0; }
    30% { opacity: 1; }
}   

@keyframes workoutsEntrance {
    0% { opacity: 0; }
    30% { opacity: 0; }
    35% { opacity: 1; }
}
@keyframes streakEntrance {
    0% { opacity: 0; }
    35% { opacity: 0; }
    40% { opacity: 1; }
}
@keyframes weightEntrance {
    0% { opacity: 0; }
    40% { opacity: 0; }
    45% { opacity: 1; }
}
@keyframes exerciseEntrance {
    0% { opacity: 0; }
    45% { opacity: 0; }
    50% { opacity: 1; }
}


main {
    margin-left: var.$menu-width;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var.$clr-bg-lvl1;   // VAR

    color: rgb(221, 183, 183);

    .container {
        width: 80%;
        height: 100%;
        max-width: 1080px;
        max-height: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 2rem;

        .profile-container {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            background-color: var.$clr-bg-lvl2;
            border: 1px solid var.$clr-borders-lvl2;
            border-radius: 1rem;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                border-radius: 100%;
                width: 200px;
                margin-bottom: 1rem;
            }

            .name {
                font-size: 2rem;
                font-weight: var.$fw-bold;
                color: var.$clr-text-lvl1
            }

            .joined-date {
                color: var.$clr-text-lvl3;
                font-weight: var.$fw-light;
                font-size: .9rem;
                margin-bottom: 1rem;
            }

            .level-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .level-display {
                    display: flex;
                    gap: 1.2rem;
                    align-items: flex-end;
                    margin-bottom: .25rem;

                    .level {
                        color: var.$clr-text-lvl2;
                        font-weight: var.$fw-light;
                    }

                    .exp {
                        color: var.$clr-text-lvl3;
                        font-weight: var.$fw-light;
                        font-size: .9rem;
                    }
                }

                .level-bar-box {
                    display: flex;
                    align-items: center;
                    gap: .25rem;

                    .level-bar {
                        border: 2px solid var.$clr-hover;  // VAR
                        width: 120px;
                        height: 10px;
                        border-radius: 1rem;
                        overflow: hidden;

                        .fill {
                            width: 100%;
                            height: 10px;
                            background-color: var.$clr-exp-bar;  // VAR
                        }
                    }

                    .bar-status {
                        color: var.$clr-text-lvl3;  // VAR
                        font-size: .925rem;
                    }
                }
            }
        }





        .data-container {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-self: end;
            background-color: var.$clr-bg-lvl2;
            border: 1px solid var.$clr-borders-lvl2;
            border-radius: 1rem;
            padding: 1.5rem;
            height: fit-content;


            .title-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;

                .title {
                    color: var.$clr-text-lvl1;
                    font-weight: var.$fw-medium;
                    font-size: 1.2rem;
                }

                .select-btn {
                    border: none;
                    background-color: var.$clr-hover;
                    border-radius: .3rem;
                    color: var.$clr-text-lvl2;
                    font-weight: var.$fw-medium;
                    padding: .5rem;
                }
            }

            .graphic {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: 1fr auto;
                gap: .75rem;
                height: 150px;
                color: var.$clr-text-lvl3;
                font-size: .9rem;
                font-weight: var.$fw-light;

                .eje-y {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .eje-x {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    display: flex;
                    justify-content: space-between;
                }

                .content {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    
                    .column {
                        width: calc(100% / 15);
                        background-color: rgba(55, 223, 55, 0.555);
                    }

                    .c1 {
                        height: 50px;
                    }
                    .c2 {
                        height: 75px;
                    }
                    .c3 {
                        height: 90px;
                    }
                    .c4 {
                        height: 110px;
                    }
                    .c5 {
                        height: 80px;
                    }
                    .c6 {
                        height: 30px;
                    }
                    .c7 {
                        height: 20px;
                    }
                    .c8 {
                        height: 45px;
                    }
                    .c9 {
                        height: 55px;
                    }
                    .c10 {
                        height: 70px;
                    }
                    .c11 {
                        height: 100px;
                    }
                    .c12 {
                        height: 85px;
                    }

                }
            }

        }


        .statistics-container {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            .statistic-box {
                background-color: var.$clr-bg-lvl2;
                border: 1px solid var.$clr-borders-lvl2;
                border-radius: 1rem;
                padding: calc(1.5rem + 2px);
                display: grid;
                grid-template-rows: auto 1fr;
                place-items: center;
                gap: 1rem;

                .title {
                    color: var.$clr-text-lvl1;
                    font-weight: var.$fw-medium;
                    font-size: 1.25rem;
                }

                .data-box {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }
            
            .statistic-box.workouts {
                .data-box {
                    .data {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: var.$clr-text-lvl2;
                        font-weight: var.$fw-light;

                        span {
                            font-size: 3rem;
                            font-weight: var.$fw-medium;
                        }
                    }

                    svg {
                        width: 50px;
                        fill: rgb(148, 167, 167);
                    }
                }

                &:hover {
                    padding: 1.5rem;
                    border: 3px solid rgba(148, 167, 167, 0.863);
                    background: linear-gradient(-45deg, var.$clr-bg-lvl2, rgba(148, 167, 167, 0.4)) ;
                }
            }

            .statistic-box.streak {
                .data-box {
                    .data {
                        display: flex;
                        align-items: baseline;
                        gap: .25rem;
                        color: var.$clr-text-lvl2;
                        font-weight: var.$fw-light;

                        span {
                            font-size: 3rem;
                            font-weight: var.$fw-medium
                        }
                    }

                    svg {
                        width: 50px;
                        height: 50px;
                        fill: rgb(216, 101, 24);
                    }
                }

                &:hover {
                    padding: 1.5rem;
                    border: 3px solid rgba(216, 101, 24, 0.8);
                    background: linear-gradient(-45deg, var.$clr-bg-lvl2, rgba(216, 101, 24, 0.281)) ;
                }
            }

            .statistic-box.weight {
                .data-box {
                    .data {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .number {
                            color: var.$clr-text-lvl2;
                            font-weight: var.$fw-light;

                            span {
                                font-weight: var.$fw-medium;
                                font-size: 2.25rem;
                            }
                        }

                        .clasification {
                            font-size: .9rem;
                            color: var.$clr-text-lvl3
                        }
                    }

                    svg {
                        width: 40px;
                        fill: rgba(66, 97, 182, 0.808);
                    }
                }

                &:hover {
                    padding: 1.5rem;
                    border: 3px solid rgba(66, 97, 182, 0.671);
                    background: linear-gradient(-45deg, var.$clr-bg-lvl2, rgba(66, 97, 182, 0.349)) ;
                }
            }

            .statistic-box.exercise {
                .data-box {
                    .data {
                        display: flex;
                        flex-direction: column;
                        color: var.$clr-text-lvl2;

                        .name {
                            font-size: 1.5rem;
                            font-weight: var.$fw-medium;
                        }

                        .number {
                            font-weight: var.$fw-light;

                            span {
                                font-size: 2rem;
                                font-weight: var.$fw-medium;
                            }
                        }
                    }

                    svg {
                        width: 55px;
                        height: 55px;
                        fill: rgb(77, 206, 77);
                    }
                }

                &:hover {
                    padding: 1.5rem;
                    border: 3px solid rgba(77, 206, 77, 0.8);
                    background: linear-gradient(-45deg, var.$clr-bg-lvl2, rgba(77, 206, 77, 0.288)) ;
                }
            }
        }
    }
}