main {
  margin-left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #191a1c;
  color: rgb(221, 183, 183);
}
main .container {
  width: 80%;
  height: 100%;
  max-width: 1080px;
  max-height: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}
main .container .profile-container {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #1f2022;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container .profile-container img {
  border-radius: 100%;
  width: 200px;
  margin-bottom: 1rem;
}
main .container .profile-container .name {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
main .container .profile-container .joined-date {
  color: #9DA4AE;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
main .container .profile-container .level-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .container .profile-container .level-box .level-display {
  display: flex;
  gap: 1.2rem;
  align-items: flex-end;
  margin-bottom: 0.25rem;
}
main .container .profile-container .level-box .level-display .level {
  color: #cecece;
  font-weight: 300;
}
main .container .profile-container .level-box .level-display .exp {
  color: #9DA4AE;
  font-weight: 300;
  font-size: 0.9rem;
}
main .container .profile-container .level-box .level-bar-box {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
main .container .profile-container .level-box .level-bar-box .level-bar {
  border: 2px solid #292b2f;
  width: 120px;
  height: 10px;
  border-radius: 1rem;
  overflow: hidden;
}
main .container .profile-container .level-box .level-bar-box .level-bar .fill {
  width: 100%;
  height: 10px;
  background-color: rgb(197, 189, 98);
}
main .container .profile-container .level-box .level-bar-box .bar-status {
  color: #9DA4AE;
  font-size: 0.925rem;
}
main .container .data-container {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  background-color: #1f2022;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
  padding: 1.5rem;
  height: fit-content;
}
main .container .data-container .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main .container .data-container .title-box .title {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
}
main .container .data-container .title-box .select-btn {
  border: none;
  background-color: #292b2f;
  border-radius: 0.3rem;
  color: #cecece;
  font-weight: 500;
  padding: 0.5rem;
}
main .container .data-container .graphic {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 0.75rem;
  height: 150px;
  color: #9DA4AE;
  font-size: 0.9rem;
  font-weight: 300;
}
main .container .data-container .graphic .eje-y {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container .data-container .graphic .eje-x {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
}
main .container .data-container .graphic .content {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .container .data-container .graphic .content .column {
  width: 6.6666666667%;
  background-color: rgba(55, 223, 55, 0.555);
}
main .container .data-container .graphic .content .c1 {
  height: 50px;
}
main .container .data-container .graphic .content .c2 {
  height: 75px;
}
main .container .data-container .graphic .content .c3 {
  height: 90px;
}
main .container .data-container .graphic .content .c4 {
  height: 110px;
}
main .container .data-container .graphic .content .c5 {
  height: 80px;
}
main .container .data-container .graphic .content .c6 {
  height: 30px;
}
main .container .data-container .graphic .content .c7 {
  height: 20px;
}
main .container .data-container .graphic .content .c8 {
  height: 45px;
}
main .container .data-container .graphic .content .c9 {
  height: 55px;
}
main .container .data-container .graphic .content .c10 {
  height: 70px;
}
main .container .data-container .graphic .content .c11 {
  height: 100px;
}
main .container .data-container .graphic .content .c12 {
  height: 85px;
}
main .container .statistics-container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
main .container .statistics-container .statistic-box {
  background-color: #1f2022;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
  padding: calc(1.5rem + 2px);
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: 1rem;
}
main .container .statistics-container .statistic-box .title {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.25rem;
}
main .container .statistics-container .statistic-box .data-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .container .statistics-container .statistic-box.workouts .data-box .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cecece;
  font-weight: 300;
}
main .container .statistics-container .statistic-box.workouts .data-box .data span {
  font-size: 3rem;
  font-weight: 500;
}
main .container .statistics-container .statistic-box.workouts .data-box svg {
  width: 50px;
  fill: rgb(148, 167, 167);
}
main .container .statistics-container .statistic-box.workouts:hover {
  padding: 1.5rem;
  border: 3px solid rgba(148, 167, 167, 0.863);
  background: linear-gradient(-45deg, #1f2022, rgba(148, 167, 167, 0.4));
}
main .container .statistics-container .statistic-box.streak .data-box .data {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  color: #cecece;
  font-weight: 300;
}
main .container .statistics-container .statistic-box.streak .data-box .data span {
  font-size: 3rem;
  font-weight: 500;
}
main .container .statistics-container .statistic-box.streak .data-box svg {
  width: 50px;
  height: 50px;
  fill: rgb(216, 101, 24);
}
main .container .statistics-container .statistic-box.streak:hover {
  padding: 1.5rem;
  border: 3px solid rgba(216, 101, 24, 0.8);
  background: linear-gradient(-45deg, #1f2022, rgba(216, 101, 24, 0.281));
}
main .container .statistics-container .statistic-box.weight .data-box .data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .statistics-container .statistic-box.weight .data-box .data .number {
  color: #cecece;
  font-weight: 300;
}
main .container .statistics-container .statistic-box.weight .data-box .data .number span {
  font-weight: 500;
  font-size: 2.25rem;
}
main .container .statistics-container .statistic-box.weight .data-box .data .clasification {
  font-size: 0.9rem;
  color: #9DA4AE;
}
main .container .statistics-container .statistic-box.weight .data-box svg {
  width: 40px;
  fill: rgba(66, 97, 182, 0.808);
}
main .container .statistics-container .statistic-box.weight:hover {
  padding: 1.5rem;
  border: 3px solid rgba(66, 97, 182, 0.671);
  background: linear-gradient(-45deg, #1f2022, rgba(66, 97, 182, 0.349));
}
main .container .statistics-container .statistic-box.exercise .data-box .data {
  display: flex;
  flex-direction: column;
  color: #cecece;
}
main .container .statistics-container .statistic-box.exercise .data-box .data .name {
  font-size: 1.5rem;
  font-weight: 500;
}
main .container .statistics-container .statistic-box.exercise .data-box .data .number {
  font-weight: 300;
}
main .container .statistics-container .statistic-box.exercise .data-box .data .number span {
  font-size: 2rem;
  font-weight: 500;
}
main .container .statistics-container .statistic-box.exercise .data-box svg {
  width: 55px;
  height: 55px;
  fill: rgb(77, 206, 77);
}
main .container .statistics-container .statistic-box.exercise:hover {
  padding: 1.5rem;
  border: 3px solid rgba(77, 206, 77, 0.8);
  background: linear-gradient(-45deg, #1f2022, rgba(77, 206, 77, 0.288));
}

/*# sourceMappingURL=styles.css.map */
