@use "../var";


main {
    margin-left: var.$menu-width;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var.$clr-bg-lvl1;   // VAR

    color: rgb(221, 183, 183);

    .container {
        width: 80%;
        height: 100%;
        max-width: 1080px;
        max-height: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 2rem;

        .page-menu-container {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .title {
                color: var.$clr-text-lvl1;
                font-weight: var.$fw-bold;
                font-size: 1.5rem;
            }

            .buttons-menu {
                display: flex;
                flex-direction: column;
                width: 200px;
                gap: .75rem;

                .btn {
                    text-decoration: none;
                    cursor: pointer;
                    background-color: var.$clr-bg-lvl2;  
                    border: 1px solid var.$clr-borders-lvl2;
                    border-radius: .5rem;
                    color: var.$clr-text-lvl2;
                    font-weight: var.$fw-medium;
                    height: 2.5rem;
                    display: grid;
                    grid-template-columns: 2.5rem 1fr;
                    gap: .25rem;
                    place-items: center;

                    &:hover {
                        background-color: #303236;
                    }

                    span {
                        justify-self: flex-start;
                    }

                    svg {
                        stroke: var.$clr-text-lvl3;
                    }

                    .svg-new-routine {
                        height: 1.4rem;
                    }

                    .svg-new-folder {
                        height: 2rem;
                    }

                    .svg-exercises {
                        height: 1.5rem;
                        stroke: green;   // CHANGE FOR VAR
                    }
                }
            }
        }









        .routines-container {
            min-height: 250px;
            background-color: var.$clr-bg-lvl2;  
            border: 1px solid var.$clr-borders-lvl2;
            border-radius: .5rem;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .routine {
                position: relative;
                background-color: rgba(63, 94, 63, 0.322);
                border-radius: .5rem;
                display: grid;
                grid-template-columns: 1fr auto;

                &:hover {
                    background-color: rgba(63, 94, 63, 0.418);
                }


                .routine-body {
                    padding: 1.5rem 1rem;
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    z-index: 2;
    
                    .title {
                        display: flex;
                        align-items: center;
                        gap: 2rem;
    
                        .name {
                            color: var.$clr-text-lvl2
                        }
    
                        .info {
                            color: var.$clr-text-lvl3;
                            font-weight: var.$fw-light;
                            font-size: .9rem;
                        }
                    }
                }

                .start-routine {
                    align-self: center;
                    display: block;
                    margin-right: 1rem;
                    text-decoration: none;
                    padding: .4rem .75rem;
                    border-radius: .25rem;
                    background-color: rgba(39, 172, 39, 0.322);
                    color: var.$clr-text-lvl1;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(39, 172, 39, 0.555);
                        box-shadow: 0 0 1rem rgba(255, 255, 255, 0.116);
                    }
                }
            }





            .general-routines-box {
                padding: 1rem;

                .section-title {
                    color: var.$clr-text-lvl1;
                    margin-bottom: 1rem;
                }

                .routines-box {
                    display: flex;
                    flex-direction: column;
                    gap: .75rem;

                    .routine-body {
                        .title {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}









// PopUp delete window
.delete-window {
    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        display: none;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        padding: 1.5rem;
        max-width: 400px;
        background-color: var.$clr-bg-lvl2;
        border: 3px solid var.$clr-borders-lvl3;
        border-radius: 1rem;
        display: flex;   
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        z-index: 2;
    
        .title {
            padding: 0 2rem;
            font-size: 1.5rem;
            color: var.$clr-text-lvl1;
            font-weight: var.$fw-medium;
            text-align: center;
            margin: 1rem 0;
        }
    
        .text {
            color: var.$clr-text-lvl2;
            font-size: 1.2rem;
        }
        
    
        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 1rem;
    
            button {
                cursor: pointer;
                border: none;
                border-radius: .25rem;
                padding: .5rem;
                font-weight: var.$fw-medium;
                color: var.$clr-text-lvl2;
            }
    
            .cancel-btn {
                background-color: #424346;    // Change to var
    
                &:hover {
                    background-color: #545558;
                }
            }
    
            .delete-btn {
                background-color: rgb(116, 30, 30);
    
                &:hover {
                    background-color: rgb(136, 76, 76);
                }
            }
        }
    }
}





@media (max-width: 900px) {
    main { 
        padding: 0;


        .container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0 1rem;
            padding-top: .5rem;

            .page-menu-container {
                width: 100%;
                
                .buttons-menu {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .btn {
                        display: flex;
                        justify-content: center;
                        font-size: .9rem;
                    }
                    
                }
            }

            .routines-container {

                .general-routines-box {
                    padding: .25rem;

                    .section-title {
                        margin-bottom: .65rem;
                    }

                    .routines-box {
                        .routine {
                            padding: 0;

                            .title {
                                .name {
                                    font-size: .9rem;
                                }

                                .info {
                                    display: none;
                                }
                            }

                            .start-routine {
                                font-size: .8rem;
                            }
                        }

                    }
                }

            }

        }
    }
}