main {
  margin-left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #191a1c;
  color: rgb(221, 183, 183);
}
main .container {
  width: 80%;
  height: 100%;
  max-width: 1080px;
  max-height: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}
main .container .page-menu-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .container .page-menu-container .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
}
main .container .page-menu-container .buttons-menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0.75rem;
}
main .container .page-menu-container .buttons-menu .btn {
  text-decoration: none;
  cursor: pointer;
  background-color: #1f2022;
  border: 1px solid #2b2d30;
  border-radius: 0.5rem;
  color: #cecece;
  font-weight: 500;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 0.25rem;
  place-items: center;
}
main .container .page-menu-container .buttons-menu .btn:hover {
  background-color: #303236;
}
main .container .page-menu-container .buttons-menu .btn span {
  justify-self: flex-start;
}
main .container .page-menu-container .buttons-menu .btn svg {
  stroke: #9DA4AE;
}
main .container .page-menu-container .buttons-menu .btn .svg-new-routine {
  height: 1.4rem;
}
main .container .page-menu-container .buttons-menu .btn .svg-new-folder {
  height: 2rem;
}
main .container .page-menu-container .buttons-menu .btn .svg-exercises {
  height: 1.5rem;
  stroke: green;
}
main .container .routines-container {
  min-height: 250px;
  background-color: #1f2022;
  border: 1px solid #2b2d30;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .container .routines-container .routine {
  position: relative;
  background-color: rgba(63, 94, 63, 0.322);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
}
main .container .routines-container .routine:hover {
  background-color: rgba(63, 94, 63, 0.418);
}
main .container .routines-container .routine .routine-body {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  z-index: 2;
}
main .container .routines-container .routine .routine-body .title {
  display: flex;
  align-items: center;
  gap: 2rem;
}
main .container .routines-container .routine .routine-body .title .name {
  color: #cecece;
}
main .container .routines-container .routine .routine-body .title .info {
  color: #9DA4AE;
  font-weight: 300;
  font-size: 0.9rem;
}
main .container .routines-container .routine .start-routine {
  align-self: center;
  display: block;
  margin-right: 1rem;
  text-decoration: none;
  padding: 0.4rem 0.75rem;
  border-radius: 0.25rem;
  background-color: rgba(39, 172, 39, 0.322);
  color: #ffffff;
  cursor: pointer;
}
main .container .routines-container .routine .start-routine:hover {
  background-color: rgba(39, 172, 39, 0.555);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.116);
}
main .container .routines-container .general-routines-box {
  padding: 1rem;
}
main .container .routines-container .general-routines-box .section-title {
  color: #ffffff;
  margin-bottom: 1rem;
}
main .container .routines-container .general-routines-box .routines-box {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
main .container .routines-container .general-routines-box .routines-box .routine-body .title {
  display: flex;
  align-items: center;
}

.delete-window .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.delete-window .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 1.5rem;
  max-width: 400px;
  background-color: #1f2022;
  border: 3px solid #37393d;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  z-index: 2;
}
.delete-window .content .title {
  padding: 0 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0;
}
.delete-window .content .text {
  color: #cecece;
  font-size: 1.2rem;
}
.delete-window .content .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1rem;
}
.delete-window .content .buttons button {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-weight: 500;
  color: #cecece;
}
.delete-window .content .buttons .cancel-btn {
  background-color: #424346;
}
.delete-window .content .buttons .cancel-btn:hover {
  background-color: #545558;
}
.delete-window .content .buttons .delete-btn {
  background-color: rgb(116, 30, 30);
}
.delete-window .content .buttons .delete-btn:hover {
  background-color: rgb(136, 76, 76);
}

@media (max-width: 900px) {
  main {
    padding: 0;
  }
  main .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    padding-top: 0.5rem;
  }
  main .container .page-menu-container {
    width: 100%;
  }
  main .container .page-menu-container .buttons-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .container .page-menu-container .buttons-menu .btn {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
  }
  main .container .routines-container .general-routines-box {
    padding: 0.25rem;
  }
  main .container .routines-container .general-routines-box .section-title {
    margin-bottom: 0.65rem;
  }
  main .container .routines-container .general-routines-box .routines-box .routine {
    padding: 0;
  }
  main .container .routines-container .general-routines-box .routines-box .routine .title .name {
    font-size: 0.9rem;
  }
  main .container .routines-container .general-routines-box .routines-box .routine .title .info {
    display: none;
  }
  main .container .routines-container .general-routines-box .routines-box .routine .start-routine {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
