$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$clr-main-bg: #191a1c;
$clr-header-bg: #1f2022;
$clr-borders: #2b2d30;

$clr-title-lvl1: #ffffff;
$clr-subtitle-lvl2: #cecece;
$clr-svg-lvl3: #9DA4AE;
$clr-hover: #292b2f;

$clr-second-box-bg: #292b2f;
$clr-second-box-border: #37393d;

$clr-exp-bar: rgb(197, 189, 98);
