@use '../var';

// Mucho se reutiliza de la pagina de ruinas


// EXERCISES PAGE
.routines-page-container {
    height: 100%;

    .page-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .routines-container {
            .exercises-component-container {
                margin-top: 15px;
                width: calc(100vw - 30px);
                background-color: var.$bg-5;
                border: 2px solid var.$bg-6;
                border-radius: 8px;
                padding: 15px;
                text-decoration: none;

                &:hover {
                    background-color: var.$bg-6;
                }

                &:active {
                    background-color: var.$bg-4;
                }

                .exercise-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .info-box {

                        .name {
                            color: var.$text-2;
                            font-weight: bold;
                            font-size: 1.2rem;
                        }

                        .mainmuscle {
                            font-size: .9rem;
                            color: var.$text-3
                        }
                    }

                    .is-custom {
                        background-color: var.$green-2;
                        border-radius: 20px;
                        padding: 6px 12px;
                        color: var.$text-2;
                        font-size: .85rem;
                    }
                }

            
            }
    
            @media (min-width: var.$media-break) {
                .exercises-component-container {
                    width: 500px;
                }
            }
        }
    }
}





// CERATE EXERCISES PAGE
.create-exercise-page-container {
    display: flex;
    justify-content: center;

    .content {
        padding-top: calc(var.$nav-height + 25px);

        .title-box {
            margin-left: 10px;
            display: flex;
            align-items: baseline;
            gap: 10px;

            .back-btn {
                fill: var.$green-2;
                padding: 5px;
            }
            
            .page-title {
                color: var.$text-1;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        .form-container {
            margin-top: 15px;
            padding: 20px;
            background-color: var.$bg-3;
            border-radius: 8px;
            width: calc(100vw - 30px);

            form {
                width: 100%;

                .name-input {
                    width: 100%;
                    padding: 8px;
                    background-color: transparent;
                    border: 3px solid var.$green-4;
                    border-radius: 6px;
                    outline: none;
                    transition: border-color .2s;
                    color: var.$text-2;

                    &:focus {
                        border-color: var.$green-2;
                    }

                    &:hover {
                        border-color: var.$green-2;
                    }

                    &::placeholder {
                        color: var.$text-4;
                    }
                }

                .inputs-container {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .input-box {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        label {
                            color: var.$text-3;
                        }

                        select {
                            width: 45%;
                            background-color: transparent;
                            border: 3px solid var.$green-4;
                            padding: 5px;
                            border-radius: 6px;
                            color: var.$text-4;
                            outline: none;

                            &:focus {
                                border-color: var.$green-2
                            }
                        }
                    }
                }

                .hr-bar {
                    height: 1px;
                    background-color: var.$bg-5
                }

                .buttons-box {
                    margin-top: 40px;
                    display: flex;
                    gap: 15px;
                    
                    .form-btn {
                        flex: 1;
                        border: none;
                        text-decoration: none;
                        padding: 6px;
                        border-radius: 6px;
                        text-align: center;
                    }

                    .save-btn {
                        background-color: var.$green-1;
                        font-weight: bold;
                        color: var.$text-2;

                        &:hover {
                            background-color: var.$green-2;
                        }
                    }

                    .cancel-btn {
                        background-color: var.$bg-6;
                        color: var.$text-2;

                        &:hover {
                            background-color: var.$text-4
                        }
                    }
                }
            }
        }

        @media (min-width: var.$media-break) {
            .form-container {
                width: 500px;
            }
        }
    }
}