@use '../var';

// HEADER
.header-component-container {
    z-index: 0;
    position: fixed;
    background-color: red;
    width: 100%;
    height: var.$nav-height;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-svg-btn {
        border: none;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        height: var.$nav-height;
        width: var.$nav-height;

        .menu-svg {
            fill: black;
        }
    }

    .title {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

@media (min-width: var.$media-break) {
    .header-component-container{
        display: none;
    }
}



// Current page
#current-page {
    background-color: rgb(95, 93, 93);
}

// Overlay opacity animation
@keyframes openOverlay{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes closeOverlay{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

// NAV
.nav-component-container.active {
    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        transition: all .3s ease-out;
    }

    .overlay {
        left: 0;
        transition: all 0s;
        animation: openOverlay .3s;
    }
}

.nav-component-container.inactive {
    .nav-container {
        position: fixed;
        top: 0;
        left: -300px;
        transition: all .3s ease-out;
    }

    .overlay {
        left: -100vw;
        transition: all 0s .3s;
        animation: closeOverlay .3s linear forwards;
    }
}

@media (min-width: var.$media-break) {
    .nav-component-container.inactive {
        .nav-container {
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

.nav-component-container {
    z-index: 1;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .nav-container {
        height: 100%;
        width: var.$nav-width-mobile;
        position: fixed;

        .profile-info-box {
            background-color: blue;

            .desktop-title {
                display: none;
                font-size: 1.5rem;
                font-weight: bold;
            }

            .desktop-hr {
                display: none;
            }

            @media (min-width: var.$media-break) {
                .desktop-title{
                    display: block;
                    padding: 10px 15px;
                }

                .desktop-hr {
                    display: block;
                }
            }

            .accesibility {
                display: flex;
                justify-content: space-between;

                .menu-svg-btn {
                    height: var.$nav-height;
                    width: var.$nav-height;
                    background-color: transparent;
                    border: none;

                    svg {
                        fill: black;
                    }
                }
            }

            @media (min-width: var.$media-break) {
                .accesibility {
                    display: none;
                }
            }

            .profile-img {
                width: var.$nav-profile-pic-dimentions;
                height: var.$nav-profile-pic-dimentions;
                margin-left: 15px;
                border-radius: 100%;
            }

            @media (min-width: var.$media-break) {
                .profile-img {
                    margin-top: 15px;
                }
            }

            .info-box {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .user-info-box {
                    padding: 15px;
                    padding-top: 8px;

                    .date-p {
                        font-size: .85rem;
                    }
                }

                .logout-box {
                    .logout-btn {
                        height: var.$nav-height;
                        width: var.$nav-height;
                        background-color: transparent;
                        border: none;
                        margin-right: 8px;
                    }

                    .tooltip {
                        display: none;
                        padding: 10px 15px;
                        background-color: black;
                        color: white;
                        border-radius: 10px;
                        position: absolute;
                        transform: translate(-25%, -90%);
                        animation: tooltipAnimation .5s ease-out;
                    }  

                    @keyframes tooltipAnimation {
                        0% { opacity: 0; }
                        100% { opacity: .9; }
                    }

                    &:hover {
                        .tooltip {
                            display: block;
                        }
                    }
                }
            }
        }

        .nav-options-box {
            background-color: rgb(180, 180, 178);
            height: 100%;
            padding: 15px;

            ul {
                list-style: none;

                li {
                    margin-bottom: 8px;
                    display: flex;
                    border-radius: 8px;
                    overflow: hidden;

                    .nav-item {
                        padding: 10px 10px;
                        flex: 1;
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        color: black;
                        text-decoration: none;

                        &:hover {
                            background-color: grey;
                        }

                        svg {
                            fill: black;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: var.$media-break) {
        .nav-container {
            width: var.$nav-width-desktop;
        }
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.432);
        height: 100vh;
        width: 100vw;
        border: none;
        position: absolute;
    }

    @media (min-width: var.$media-break) {
        .overlay {
            display: none;
        }
    }
}



// LogOut PopUp
.logout-popup-component.active {

    .content {
        transform: scale(1);
        transition: all .3s;
    }
    .overlay {
        transform: scale(1);
        transition: all 0s;
        animation: openOverlay .3s;
    }
}

.logout-popup-component.inactive {
    width: 0;
    height: 0;

    .content {
        transform: scale(0);
        transition: all .3s;
    }
    .overlay {
        transform: scale(0);
        transition: all 0s .3s;
        animation: closeOverlay .3s;

    }
}

.logout-popup-component {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        height: 200px;
        width: 200px;
        background-color: rgb(51, 51, 51);
        z-index: 3;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.432);
        border: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transform: scale(0);
    }
}