$nav-height: 50px;

$nav-media-break: 600px;

// HEADER
.header-component-container {
    background-color: red;
    height: $nav-height;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-svg-btn {
        border: none;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        height: $nav-height;
        width: $nav-height;

        .menu-svg {
            fill: black;
        }
    }

    @media (min-width: $nav-media-break) {
        .menu-svg-btn {
            display: none;
        }
    }

    .title {
        font-size: 1.25rem;
        font-weight: bold;
    }
}



// NAV
.nav-component-container.active {
    display: block;
}

.nav-component-container.inactive {
    display: none;
}

@media (min-width: $nav-media-break) {
    .nav-component-container.inactive {
        display: block;
    }
}

.nav-component-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    .nav-container {
        height: 100%;
        width: 250px;

        .profile-info-box {
            background-color: blue;
            .accesibility {
                display: flex;
                justify-content: space-between;

                .menu-svg-btn {
                    height: $nav-height;
                    width: $nav-height;
                    background-color: transparent;
                    border: none;

                    svg {
                        fill: black;
                    }
                }
            }

            @media (min-width: $nav-media-break) {
                .accesibility {
                    display: none;
                }
            }

            .profile-img {
                width: 100px;
                height: 100px;
                margin-left: 15px;
                border-radius: 100%;
            }

            @media (min-width: $nav-media-break) {
                .profile-img {
                    margin-top: 15px;
                }
            }

            .info-box {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .user-info-box {
                    padding: 15px;
                    padding-top: 8px;

                    .date-p {
                        font-size: .85rem;
                    }
                }

                .logout-btn {
                    height: $nav-height;
                    width: $nav-height;
                    background-color: transparent;
                    border: none;
                    margin-right: 8px;
                }
            }
        }

        .nav-options-box {
            background-color: rgb(180, 180, 178);
            height: 100%;
        }
    }
}