@use '../var';

.routines-page-container {
    height: 100%;

    .page-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: fit-content;

        .routines-container {
            margin-top: 10px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 30px;
            width: calc(100vw - 30px);

            .title-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px;

                .page-title {
                    font-size: 2rem;
                    font-weight: bold;
                    color: var.$text-1;
                }

                .new-routine-btn {
                    padding: 8px 16px;
                    align-self: flex-end;
                    // General styles in main.scss
                }
            }

            .routine-component-container {
                text-decoration: none;
                background-color: var.$green-4;
                border-radius: 8px;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid var.$green-2;

                &:hover {
                    background-color: var.$green-2;
                }

                &:active {
                    background-color: var.$green-3;
                }

                .routine-info {
                    .routine-name {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 6px;
                        color: var.$text-2;
                    }
    
                    .routine-mainmuscles {
                        font-size: .9rem;
                        color: var.$text-3;
                    }
                }

                .routine-start-btn {
                    background-color: var.$text-2;
                    color: var.$green-2;
                    padding: 10px 16px;
                    border-radius: 16px;
                    text-decoration: none;
                    font-weight: bold;
                    box-shadow: 0 0 20px rgba(255, 255, 255, 0.103);
                    transition: background-color .25s;

                    &:hover {
                        background-color: var.$text-1;
                    }
                }

                @media (min-width: var.$media-break) {
                    .routine-start-btn {
                        background-color: var.$text-3;
                    }
                }
            }

            .no-routines-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                padding-top: 40px;
                gap: 8px;
                border-top: 1px solid var.$bg-4;

                svg {
                    fill: var.$green-1;
                    width: 40px;
                    height: 40px;
                }

                p {
                    color: var.$text-4;
                    font-size: 1.25rem;
                }
            }
        }

        @media (min-width: var.$media-break) {
            .routines-container {
                padding: 30px;
                padding-top: 20px;
                background-color: var.$bg-3;
                border-radius: 8px;
                width: 500px;
            }
        }
    }
}














// CREATE ROUTINE
.create-routine-page-container {
    display: flex;
    justify-content: center;


    //Exercise Window
    @keyframes openOverlay{
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    @keyframes closeOverlay{
        0% {opacity: 1;}
        100% {opacity: 0;}
    }

    .exercises-window.active {
        .exercises-container {
            transform: scale(1);
        }

        .overlay {
            left: 0;
            transition: all 0s;
            animation: openOverlay .3s;
        }
    }

    .exercises-window.inactive {
        .exercises-container {
            transform: scale(0);
        }

        .overlay {
            transition: all 0s .3s;
            animation: closeOverlay .3s;
        }
    }

    .exercises-window {
        background-color: red;
        .overlay {
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.432);
            height: 100vh;
            width: 100vw;
            border: none;
            left: -100vw;
            top: 0;
            position: fixed;
        }

        .exercises-container {
            transition: transform .2s;
            z-index: 1;
            position: fixed;
            height: 70vh;
            width: calc(100vw - 30px);
            left: calc(50% - (calc(100vw - 30px) / 2));
            top: calc(50% - (70vh / 2));
            background-color: var.$bg-4;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border-radius: 8px;

            .cancel-btn {
                background-color: var.$bg-6;
                color: var.$text-2;
                border: none;
                border-radius: 6px;
                width: 50%;
                padding: 6px ;
                font-size: 1.2rem;

                &:hover {
                    background-color: var.$text-4
                } 
            }

            .exercises-window-component {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                border-radius: 8px;

                .exercise-info {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: var.$bg-5;
                    border: 2px solid var.$bg-6;
                    padding: 15px;
                    border-radius: 8px;

                    .info-box {

                        .name {
                            color: var.$text-2;
                            font-weight: bold;
                            font-size: 1.2rem;
                            text-align: left;
                        }

                        .mainmuscle {
                            font-size: .9rem;
                            color: var.$text-3;
                            text-align: left;
                        }
                    }

                    .is-custom {
                        background-color: var.$green-2;
                        border-radius: 20px;
                        padding: 6px 12px;
                        color: var.$text-2;
                        font-size: .85rem;
                    }

                    &:hover {
                        background-color: var.$bg-6;
                    }
                }
            }

            @media (min-width: var.$media-break) {
                .cancel-btn {
                    font-size: 1rem;
                }
            }
        }

        @media (min-width: var.$media-break) {
            .exercises-container {
                width: 325px;
                height: 90vh;
                top: calc(50% - (90vh / 2));
                left: calc(50% - (325px / 2));
            }
        }
    }


    .content {
        padding-top: calc(var.$nav-height + 25px);

        .title-box {
            margin-left: 10px;
            display: flex;
            align-items: baseline;
            gap: 10px;

            .back-btn {
                fill: var.$green-2;
                padding: 5px;
            }
            
            .page-title {
                color: var.$text-1;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        .form-container {
            margin-top: 15px;
            padding: 20px;
            background-color: var.$bg-3;
            border-radius: 8px;
            width: calc(100vw - 30px);

            form {
                width: 100%;

                .buttons-box {
                    margin-top: 10px;
                    display: flex;
                    gap: 15px;
                    
                    .form-btn {
                        flex: 1;
                        border: none;
                        text-decoration: none;
                        padding: 6px;
                        border-radius: 6px;
                        text-align: center;
                        cursor: pointer;
                    }

                    .save-btn {
                        background-color: var.$green-1;
                        font-weight: bold;
                        color: var.$text-2;

                        &:hover {
                            background-color: var.$green-2;
                        }
                    }

                    .cancel-btn {
                        background-color: var.$bg-6;
                        color: var.$text-2;

                        &:hover {
                            background-color: var.$text-4
                        }
                    }
                }

                .name-input {
                    margin-top: 30px;
                    margin-bottom: 15px;
                    width: 100%;
                    padding: 8px;
                    background-color: transparent;
                    border: 3px solid var.$green-4;
                    border-radius: 6px;
                    outline: none;
                    transition: border-color .2s;
                    color: var.$text-2;

                    &:focus {
                        border-color: var.$green-2;
                    }

                    &:hover {
                        border-color: var.$green-2;
                    }

                    &::placeholder {
                        color: var.$text-4;
                    }
                }

                .hr-bar {
                    height: 1px;
                    background-color: var.$bg-5
                }

                .add-btn-box {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 15px;

                    .add-btn {
                        background-color: var.$green-1;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 6px;
                        color: var.$text-2;
                        cursor: pointer;

                        &:hover {
                            background-color: var.$green-2;
                        }
                    }
                }

                .inputs-container {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;


                    .input-box {
                        background-color: var.$bg-4;
                        padding: 15px;
                        border-radius: 8px;

                        .input-title-box {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;

                            .input-title {
                                color: var.$text-2;
                                font-size: 1.5rem;
                            }

                            .delete-input-btn {
                                background-color: transparent;
                                border: none;
                                cursor: pointer;

                                svg {
                                    fill: var.$text-3;
                                    transition: .2s;

                                    &:hover {
                                        fill: rgb(133, 73, 73);
                                    }
                                }
                            }
                        }

                        .data-container {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            margin-top: 15px;

                            .data {
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                margin-left: 15px;

                                p {
                                    color: var.$text-4;
                                }

                                input {
                                    width: 40px;
                                    background-color: transparent;
                                    border: 1px solid var.$text-3;
                                    border-radius: 6px;
                                    outline: none;
                                    padding: 4px 0;
                                    color: var.$text-3;
                                    text-align: center;

                                    &::placeholder {
                                        text-align: center;
                                        columns: var.$text-4
                                    }

                                    &:focus, &:hover {
                                        border-color: var.$text-1;
                                    }
                                }
                            }
                        }
                    }

                    .no-exercises-text {
                        padding: 30px;
                        color: var.$text-4;
                        text-align: center;
                        font-size: 1.25rem;
                    }
                }
            }
        }

        @media (min-width: var.$media-break) {
            .form-container {
                width: 500px;
            }
        }
    }
}


















// VIEW ROUTINE
.routine-view-page {
    height: 100%;

    .page-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .routine-container {
            margin-top: 2rem;
            background-color: var.$bg-3;
            padding: 30px;
            border-radius: 8px;
            width: calc(100vw - 30px);

            .title-box {
                display: flex;
                justify-content: space-between;

                .title-section {
                    display: flex;
                    align-items: flex-end;
                    gap: 15px;

                    .page-title {
                        color: var.$text-1;
                        font-weight: bold;
                        font-size: 1.75rem;
                    }
    
                    .back-btn {
                        fill: var.$green-2;
                    }
                }

                .menu-container {
                    .menu-btn-box {
                        cursor: pointer;
                        border: none;
                        background-color: transparent;
                        padding: 3px;

                        .menu-svg {
                            fill: var.$text-2;

                            &:hover, &:active {
                                fill: var.$text-1;
                            }
                        }
                    }

                    @keyframes openOverlay{
                        0% {opacity: 0;}
                        100% {opacity: 1;}
                    }
                    @keyframes closeOverlay{
                        0% {opacity: 1;}
                        100% {opacity: 0;}
                    }
                    @keyframes closeMenu{
                        0% {bottom: 0px;}
                        100% {bottom: -250px;}
                    }
        
                    .menu-display-mobile {
                        z-index: 2;
                        position: fixed;
                        bottom: -250px;
                        left: -100vw;
                        width: 100%;
                        height: 250px;
                        
                        .content {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: var.$bg-4;
                            border-radius: 15px;
                            display: flex;
                            flex-direction: column;
                            padding: 8px 0;
        
                            .menu-option {
                                cursor: pointer;
                                padding: 12px 20px;
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                color: var.$text-2;
                                font-size: 1.2rem;
                                background-color: transparent;
                                border: none;
                                text-decoration: none;

                                &:hover {
                                    color: var.$text-1;

                                    .svg-fix {
                                        fill: var.$text-1;
                                    }

                                    .delete-svg {
                                        fill: rgb(187, 104, 104);
                                    }
                                }
                                
                                .svg-fix {
                                    fill: var.$text-4;
                                }

                                .delete-svg {
                                    fill: rgb(133, 73, 73);
                                }
                            }
        
                            .menu-option.delete {
                                color: rgb(173, 66, 66);

                                &:hover {
                                    color: rgb(189, 92, 92);
                                }
                            }
        
                            .hr-bar {
                                height: 1px;
                                background-color: var.$bg-5;
                            }
                        }
        
                        .overlay {
                            background-color: rgba(0, 0, 0, 0.432);
                            height: 100vh;
                            width: 100vw;
                            border: none;
                            position: absolute;
                            bottom: 250px;
                            left: -100vw;
                        }
                    }
        
                    .menu-display-mobile.active {
                        left: 0;
                        transition: left 0s;
                        bottom: 0;
                        transition: bottom .3s ease-out;
        
                        .overlay {
                            left: 0;
                            transition: all 0s;
                            animation: openOverlay .3s;
                        }
                    }
        
                    .menu-display-mobile.inactive {
                        animation: closeMenu .3s ease-out;
                        transition: all 0s .3s;
        
                        .overlay {
                            transition: all 0s .3s;
                            animation: closeOverlay .3s;
                        }
                    }
        
                    @media (min-width: var.$media-break) {
                        .menu-display-mobile {
                            display: none;
                            position: absolute;
                            width: 200px;
                            height: fit-content;
                            top: 0;
                            left: 100%;

                            .overlay {
                                display: none;
                            }

                            .content {
                                position: static;
                                .menu-option {
                                    position: static;
                                }
                            }
                        }

                        .menu-display-mobile.active {
                            transition: none;
                            transition: none;
                        }
            
                        .menu-display-mobile.inactive {
                            animation: none;
                            transition: none;
                        }
                    }
                }

                @media (min-width: var.$media-break) {
                    .menu-container {
                        position: relative;

                        &:hover {
                            .menu-display-mobile {
                                display: block;
                            }
                        }
                    }
                }
            }

            .info-box {
                margin-top: 20px;

                .routine-total {
                    font-size: 1.1rem;
                    color: var.$text-3;

                    span {
                        color: var.$green-2;
                        font-weight: bold;
                        font-size: 1.25rem;
                        margin-left: 6px;
                    }
                }

                .routine-date {
                    padding-left: 10px;
                    margin-top: 5px;
                    font-size: .9rem;
                    color: var.$text-4;
                    margin-bottom: 20px;

                    span {
                        color: var.$text-4;
                        margin-left: 6px;
                    }
                }

                .routine-data-container {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    .exercise-data {
                        background: var.$bg-2;
                        border: 2px solid var.$bg-5;
                        border-radius: 8px;
                        padding: 15px;

                        .name {
                            font-size: 1.5rem;
                            color: var.$text-2;
                            font-weight: bold;
                        }

                        .muscle {
                            color: var.$text-4;
                            padding-left: 5px;
                        }

                        .data {
                            display: flex;
                            gap: 15px;
                            margin-top: 15px;

                            .exercise-data-box {
                                background-color: var.$bg-5;
                                border-radius: 6px;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                padding: 3px 6px;

                                .data-text {
                                    color: var.$text-3;

                                    span {
                                        font-weight: bold;
                                        margin-right: 2px;
                                    }
                                }

                                svg {
                                    fill: var.$text-4;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (min-width: var.$media-break) {
            .routine-container {
                width: 500px;
            }
        }
    }
}
