@use '../var';

.routines-page-container {
    height: 100%;

    .page-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-top: calc(var.$nav-height + 15px);

        .page-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .routines-container {
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .new-routine-btn {
                position: relative;
                top: 0;
                right: 0;
                background-color: green;
                border: none;
                border-radius: 6px;
                padding: 8px;
            }

            .routine-component-container {
                text-decoration: none;
                color: black;
                width: calc(100vw - 30px);
                background-color: rgb(89, 156, 98);
                margin-top: 15px;
                border-radius: 8px;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .routine-info {
                    .routine-name {
                        font-size: 1.15rem;
                        font-weight: bold;
                        margin-bottom: 6px;
                    }
    
                    .routine-mainmuscles {
                        font-size: .9rem;
                        color: rgb(64, 69, 80);
                    }
                }

                .routine-start-btn {
                    background-color: rgb(92, 175, 175);
                    padding: 10px 16px;
                    border-radius: 16px;
                    text-decoration: none;
                    font-weight: bold;
                    box-shadow: 0 0 20px rgba(255, 255, 255, 0.103);
                }
            }

            @media (min-width: var.$media-break) {
                .routine-component-container {
                    width: 500px;
                }
            }
        }

        @media (min-width: var.$media-break) {
            .routines-container {
                padding: 15px;
                background-color: rgb(255, 167, 167);
            }
        }

    }

    @media (min-width: var.$media-break) {
        .page-content {
            padding-top: 25px;
        }
    }
}