$clr-bg-lvl0: #141414;

$clr-bg-lvl1: #191a1c;
$clr-bg-lvl2: #1f2022;
$clr-bg-lvl3: #292b2f;
$clr-bg-lvl5: #4a4a4a;

$clr-borders-lvl2: #2b2d30;
$clr-borders-lvl3: #37393d;

$clr-text-lvl1: #ffffff;
$clr-text-lvl2: #cecece;
$clr-text-lvl3: #9DA4AE;

$color-1: rgb(161, 74, 40);
$color-1-hover: rgb(173, 90, 57);