main {
  margin-left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #191a1c;
  color: rgb(221, 183, 183);
}
main .container {
  width: 80%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}
main .container .formulary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .container .formulary .title-box {
  background-color: #1f2022;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
main .container .formulary .title-box .title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  padding-left: 1rem;
}
main .container .formulary .title-box .buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .container .formulary .title-box .buttons .btn {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.35rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
}
main .container .formulary .title-box .buttons .btn.submit {
  background-color: rgba(77, 206, 77, 0.288);
}
main .container .formulary .title-box .buttons .btn.submit:hover {
  background-color: rgba(77, 206, 77, 0.897);
}
main .container .formulary .title-box .buttons .btn.cancel {
  background-color: #474a4d;
}
main .container .formulary .title-box .buttons .btn.cancel:hover {
  background-color: #626668;
}
main .container .formulary .exercises-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .container .formulary .exercises-container .exercise-box {
  background-color: #1f2022;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
  padding: 1.5rem;
}
main .container .formulary .exercises-container .exercise-box .intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .formulary .exercises-container .exercise-box .intro-section .section-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}
main .container .formulary .exercises-container .exercise-box .intro-section .remove-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
main .container .formulary .exercises-container .exercise-box .intro-section .remove-btn svg {
  stroke: #ffffff;
}
main .container .formulary .exercises-container .exercise-box .intro-section .remove-btn .tooltip {
  position: absolute;
  top: -170%;
  right: 50%;
  transform: translateX(50%);
  display: none;
  place-items: center;
  padding: 0.75rem;
  color: #9DA4AE;
  font-size: 0.9rem;
  background-color: #191a1c;
  border-radius: 0.5rem;
}
main .container .formulary .exercises-container .exercise-box .intro-section .remove-btn:hover .tooltip {
  display: grid;
  animation: tooltipAnimation 0.5s;
}
@keyframes tooltipAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
main .container .formulary .exercises-container .exercise-box .exercise-info {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}
main .container .formulary .exercises-container .exercise-box .exercise-info .note-info .note {
  color: #9DA4AE;
  font-size: 0.9rem;
}
main .container .formulary .exercises-container .exercise-box .exercise-info .rest-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .container .formulary .exercises-container .exercise-box .exercise-info .rest-info .time-svg {
  fill: #cecece;
}
main .container .formulary .exercises-container .exercise-box .exercise-info .rest-info .rest-data {
  color: #cecece;
}
main .container .formulary .exercises-container .exercise-box .exercise-info .rest-info .rest-data span {
  font-size: 1.1rem;
}
main .container .formulary .exercises-container .exercise-box .note-input-box {
  margin-top: 1.5rem;
}
main .container .formulary .exercises-container .exercise-box .note-input-box .note-input {
  outline: none;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid #37393d;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #cecece;
}
main .container .formulary .exercises-container .exercise-box .note-input-box .note-input::placeholder {
  color: #9DA4AE;
}
main .container .formulary .exercises-container .exercise-box .register-box {
  margin-top: 2rem;
  display: grid;
}
main .container .formulary .exercises-container .exercise-box .register-box .table-title {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr;
  margin-bottom: 0.5rem;
}
main .container .formulary .exercises-container .exercise-box .register-box .table-title .table-label {
  text-align: center;
  color: #cecece;
}
main .container .formulary .exercises-container .exercise-box .register-box .set-row {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr;
  padding: 0.25rem 0;
  padding-left: 0.35rem;
  text-align: center;
  border-radius: 0.5rem;
}
main .container .formulary .exercises-container .exercise-box .register-box .set-row .set-number {
  color: #ffffff;
  font-weight: 500;
}
main .container .formulary .exercises-container .exercise-box .register-box .set-row .previous-data {
  color: #9DA4AE;
}
main .container .formulary .exercises-container .exercise-box .register-box .set-row .input {
  width: 100%;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
}
main .container .formulary .exercises-container .exercise-box .register-box .set-row .input::placeholder {
  color: #9DA4AE;
}

/*# sourceMappingURL=styles.css.map */
