<link rel="stylesheet" href="/css/measures/styles.css">




<!-- Create Exercise Form PupUp -->
<div class="create-form-container" id="form-create">
  <div class="overlay"></div>
  <div class="content">
    <h3 class="form-title">Log Measure</h3>
    <form action="/measures?_method=PUT" method="POST" id="formulary">
      <div class="inputs-box">
        <div class="date-input-box">
          <label for="date">Date: </label>
          <input class="date-input" id="date" name="date" id="date" type="date">
        </div>
        <div class="measure-input-box">
          <label for="measure">kg</label>
          <input type="text" id="measure" name="measure" required autocomplete="off" placeholder="-" onkeypress="isNumber(event)" min="0">
        </div>
      </div>

      <div class="buttons">
        <button type="reset" class="cancel-btn" onclick="toggleCreateForm()">Cancel</button>
        <button class="save-btn" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>




<main>
  <div class="container">
    <div class="graphic-container">
      <p>GRAFICO</p>
    </div>

    <div class="data-display-container">
      <div class="add-btn">
        <button class="btn" onclick="toggleCreateForm()">+ Log Measure</button>
        <hr>
      </div>
      <div class="data-display">
        <% for (let i = 0; i < measures.measures.length; i++) { %>
          <div class="data-box">
            <div class="info-box">
              <p class="info-date"><%= measures.dates[i].getDate() %>/<%= measures.dates[i].getDate() + 1 %></p>
              <p class="info-weight"><%= measures.measures[i] %>kg</p>
            </div>
            <% if (i !== measures.measures.length - 1) { %>
              <hr>
            <% } %>
          </div>
        <% } %>
      </div>

    </div>

    <div class="side-menu-container">
      <form class="goal-form">
        <select>
          <option value="" selected disabled class="option-hidden">Select your Goal</option>
          <option value="GAIN">Gain Weight</option>
          <option value="LOOSE">Loose Weight</option>
        </select>
      </form>
      <div class="best weight-display-box">
        <!-- Tengo diseño en old -->
      </div>
    </div>
  </div>
</main>



<script src="/js/measures/current-page.js"></script>
<script src="/js/measures/main.js"></script>