<link rel="stylesheet" href="/css/measures/styles.css">


<main>
  <div class="container">
    <div class="graphic-container">
      <p>GRAFICO</p>
    </div>

    <div class="data-display-container">
      <div class="add-btn">
        <a class="btn" href="">+ Log Measure</a>
        <hr>
      </div>
      <!-- Data from databse disply -->
    </div>

    <div class="side-menu-container">
      <form class="goal-form">
        <select>
          <option value="" selected disabled class="option-hidden">Select your Goal</option>
          <option value="GAIN">Gain Weight</option>
          <option value="LOOSE">Loose Weight</option>
        </select>
      </form>
      <div class="best weight-display-box">
        <!-- Tengo diseño en old -->
      </div>
    </div>
  </div>
</main>



<script src="/js/measures/current-page.js"></script>