<link rel="stylesheet" href="/css/home/program/styles.css">



<main>
  <div class="container">
    <h2 class="title">Program</h2>
    <div class="main-content">
      <p>Add routine to your weekly program</p>
      <form>
        <div class="form-section">
          <h4>Monday</h4>
          
        </div>
      </form>
    </div>
  </div>
</main>