<head>
  <link rel="stylesheet" href="/css/routines/create-routine/styles.css">
</head>

<main>
  <div class="container">
    <div class="create-formulay-container">
      <a class="save-btn">Save Routine</a>
      <div class="title">
        <a>
          <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg" tint="#FFFFFF" type="back-button"><path d="M17 8H1M1 8L7 14M1 8L7 2"  stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path></svg>
        </a>
        <h2>Create Routine</h2>
      </div>

      <form class="formulary" action="/" method="POST" id="create-routine-form">
        <div class="routine-title-box">
          <label for="routine-title">Routine Title</label>
          <input required id="routine-title" name="routine-title" type="text" placeholder="Workout Routine Title">
        </div>

        <div class="exercises-display-box">
          <div class="exercise-display">
            <div class="exercise-name">
              <h3>Dominadas</h3>
              <svg width="4" height="16" viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg" tint="#FFFFFF" type="options" style="align-items: center;"><path d="M2.00016 7.16675C1.53993 7.16675 1.16683 7.53984 1.16683 8.00008C1.16683 8.46032 1.53993 8.83341 2.00016 8.83341C2.4604 8.83341 2.8335 8.46032 2.8335 8.00008C2.8335 7.53984 2.4604 7.16675 2.00016 7.16675Z"  stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.00016 13.0001C1.53993 13.0001 1.16683 13.3732 1.16683 13.8334C1.16683 14.2937 1.53993 14.6667 2.00016 14.6667C2.4604 14.6667 2.8335 14.2937 2.8335 13.8334C2.8335 13.3732 2.4604 13.0001 2.00016 13.0001Z"  stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2.00016 1.33341C1.53993 1.33341 1.16683 1.70651 1.16683 2.16675C1.16683 2.62699 1.53993 3.00008 2.00016 3.00008C2.4604 3.00008 2.8335 2.62699 2.8335 2.16675C2.8335 1.70651 2.4604 1.33341 2.00016 1.33341Z"  stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </div>
            <div class="exercise-form-info">
              <div class="pinned-note">
                <label for="note">Note</label>
                <textarea id="note" name="note" placeholder="Add Pinned Note"></textarea>
              </div>
              <div class="exercise-data">
                <div class="input-box">
                  <label for="sets">Sets:</label>
                  <input id="sets" name="sets" type="number" min="0">
                </div>
                <div class="input-box">
                  <label for="sets">Reps goal:</label>
                  <input id="sets" name="sets" type="number" min="0">
                </div>
                <div class="input-box">
                  <label for="sets">Rest:</label>
                  <input id="sets" name="sets" type="number" min="0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>


    </div>

    <div class="exercises-table-container">
      <ul>
        <li><button class="btn">PullUp</button></li>
        <li><button class="btn">Dip</button></li>
        <li><button class="btn">Australian PullUp</button></li>
        <li><button class="btn">PushUp</button></li>
        <li><button class="btn">Squat</button></li>
        <li><button class="btn">Pistol Squat</button></li>
      </ul>
    </div>
  </div>
</main>



<script src="/js/routines/create-routine/main.js"></script>