<head>
  <link rel="stylesheet" href="/css/routines/edit-routine/styles.css">
</head>

<main>
  <div class="container">
    <h1>hola</h1>
  </div>
</main>


<script src="/js/routines/current-page.js"></script>