<head>
  <link rel="stylesheet" href="/css/routines/create-routine/styles.css">
</head>

<main>
  <div class="container">
    <form action="/" method="POST" class="form" id="routine-form">
      <div class="create-formulay-container">
        <button type="submit" class="save-btn">Save Routine</button>
        <div class="title">
          <a href="/routines">
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg" tint="#FFFFFF" type="back-button"><path d="M17 8H1M1 8L7 14M1 8L7 2"  stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"></path></svg>
          </a>
          <h2>Create Routine</h2>
        </div>

        <div class="formulary">
          <div class="routine-title-box">
            <label for="routine-title">Routine Title</label>
            <input required id="routine-title" name="routine-title" type="text" placeholder="Workout Routine Title">
          </div>

          <div class="exercises-display-box" id="exercises-display">
            <!-- JavaScript handeled -->
          </div>
        </div>


      </div>
    </form>

    <div class="exercises-table-container">
      <ul>
        <% for (let i = 0; i < exercises.length; i++) { %>
          <li>
            <button class="list-btn"><%= exercises[i].name %>
              <p class="main-muscle"><%= exercises[i].mainMuscle %></p>
            </button>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</main>



<script src="/js/routines/create-routine/main.js"></script>
<script src="/js/routines/current-page.js"></script>