@use "var";

.exercises-table-container {
    background-color: var.$clr-bg-lvl2;
    border: 1px solid var.$clr-borders-lvl2;
    border-radius: 1rem;
    width: 200px;
    overflow: hidden;
    position: sticky;
    top: 2rem;
    height: fit-content;
    max-height: 90vh;
    overflow: scroll;

    ul {
        list-style: none;

        li {
            padding: 1rem;
            height: 4.5rem;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: var.$clr-bg-lvl3;
            }

            .list-btn {
                border: none;
                background-color: transparent;
                color: var.$clr-text-lvl2;
                text-align: left;
                width: 100%;
                height: 100%;
            }

            .main-muscle {
                color: var.$clr-text-lvl3;
                font-size: .9rem;
                text-transform: lowercase;

                &::first-letter {
                    text-transform: uppercase;
                }
            }

            .custom-show {
                position: absolute;
                padding: .25rem .35rem;
                border-radius: 1rem;
                font-size: .8rem;
                color: var.$clr-text-lvl2;
                background-color: var.$clr-bg-lvl5;
                top: 50%;
                transform: translateY(-50%);
                right: 1rem;
            }
        }
    }
}