@use "../../var";


// Animation for entrance
@keyframes profileEntrance {
    0% { opacity: 0; }
    50% { opacity: 1; }
}   

@keyframes weekEntrance {
    0% { opacity: 0; }
    50% { opacity: 0; }
    75% { opacity: 1; }
}

@keyframes dataEntrance {
    0% { opacity: 0; }
    75% { opacity: 0; }
    100% { opacity: 1; }
}


main {
    margin-left: var.$menu-width;
    height: 100%;

    padding: 2rem;
    background-color: var.$clr-bg-lvl1;   // VAR

    color: rgb(228, 153, 153);

    .container {
        width: 80%;
        height: 100%;
        max-width: 1080px;
        max-height: 850px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        
        .profile-box {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            background-color: var.$clr-bg-lvl2;  // VAR
            border: 1px solid var.$clr-borders-lvl2;  // VAR
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            
            .profile-info-box {
                display: flex;
                gap: 1.75rem;
                align-items: center;

                img {
                    width: 150px;
                    border-radius: 100%;
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .name {
                        color: var.$clr-text-lvl1;
                        font-weight: var.$fw-bold;  // VAR
                        font-size: 2rem;
                    }

                    .level-box {
                        font-weight: var.$fw-light;  // VAR

                        .level {
                            color: var.$clr-text-lvl3;  // VAR
                        }

                        .level-bar-box {
                            display: flex;
                            align-items: center;

                            .level-bar {
                                border: 2px solid var.$clr-hover;  // VAR
                                width: 100%;
                                height: 10px;
                                border-radius: 1rem;
                                overflow: hidden;

                                .fill {
                                    width: 100%;
                                    height: 10px;
                                    background-color: var.$clr-exp-bar;  // VAR
                                }
                            }

                            .bar-status {
                                color: var.$clr-text-lvl3;  // VAR
                                width: 3rem;
                            }
                        }
                    }
                }
            }


            

            .workouts-box {
                margin: 0 2rem;
                display: grid;
                grid-template-rows: auto 1fr;
                background-color: var.$clr-bg-lvl3;
                border: 1px solid var.$clr-borders-lvl3;
                border-radius: .5rem;
                width: 200px;

                hr {
                    height: 0;
                    color: #54575c;
                }

                .title {
                    padding: .5rem 0;
                    text-align: center;
                    font-weight: var.$fw-medium;  // VAR
                    font-size: 1.5rem;
                    color: var.$clr-text-lvl2;   // VAR
                }

                .total {
                    color: var.$clr-text-lvl2;
                    font-size: 4rem;
                    font-weight: var.$fw-medium;
                    display: grid;
                    place-items: center;
                }
            }
        }





        .week-manage-container {
            height: 100%;
            background-color: var.$clr-bg-lvl2;  // VAR
            border: 1px solid var.$clr-borders-lvl2;  // VAR
            border-radius: 1rem;
            padding: 1.5rem;
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 2rem;

            .week-display-box {
                background-color: var.$clr-bg-lvl3;
                border: 1px solid var.$clr-borders-lvl3;
                border-radius: .5rem;
                padding: 1rem;
                display: grid;
                grid-template-rows: auto 1fr;
                gap: 1.5rem;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-size: 1.2rem;
                        font-weight: var.$fw-medium;
                        color: var.$clr-text-lvl2;
                    }

                    svg {
                        fill: var.$clr-text-lvl3;

                        &:hover {
                            fill: var.$clr-text-lvl1
                        }
                    }

                }

                .week-display {
                    display: flex;
                    justify-content: space-around;

                    div {
                        text-align: center;

                        span {
                            color: var.$clr-text-lvl3;
                            font-weight: var.$fw-light;
                            font-size: .8rem;
                        }
                    }

                    .circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        background-color: rgb(63, 65, 68);
                        margin-bottom: .25rem;
                    }                   
                }
            }

            .for-today-info {
                display: grid;
                grid-template-rows: auto 1fr;
                gap: .5rem;

                .title {
                    color: var.$clr-text-lvl2;
                    font-weight: var.$fw-medium;
                    font-size: 1.25rem;
                    padding-left: 1rem;
                }

                .for-today-box {
                    background-color: var.$clr-bg-lvl3;
                    border: 1px solid var.$clr-borders-lvl3;
                    height: 100%;
                    border-radius: .5rem;


                    display: grid;
                    place-items: center;
                }
            }
        }





        

        .exercises-data-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            height: 100%;    
            
            .exercise-box {
                background-color: var.$clr-bg-lvl2;  // VAR
                border: 1px solid var.$clr-borders-lvl2;  // VAR
                border-radius: 1rem;
                display: grid;
                grid-template-rows: auto 1fr;

                .exercise {
                    padding: .5rem 0;
                    text-align: center;
                    font-weight: var.$fw-medium;  // VAR
                    font-size: 1.75rem;
                    color: var.$clr-text-lvl2;   // VAR
                }

                .data-container {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    place-items: center;

                    .total {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: var.$clr-text-lvl2; // VAR
                        font-weight: var.$fw-light;
                        
                        span {
                            font-size: 4rem;
                            font-weight: var.$fw-medium; // VAR
                        }
                    }

                    .extradata-box {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        .extra-data {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
    
                            .subtitle {
                                color: var.$clr-text-lvl3;
                                font-weight: var.$fw-light;
                                font-size: .9rem;
                            }

                            .subtotal {
                                color: var.$clr-text-lvl2;
                                font-weight: var.$fw-light;
                                
                                span {
                                    font-size: 2rem;
                                    font-weight: var.$fw-medium;
                                }
                            }                           
                        }
                    }

                    @media (max-width: 1250px) {
                        .total {
                            span {
                                font-size: 3rem;
                            }
                        }
                        
                        .extra-data {
                            .subtotal {
                                span {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}