$clr-main-bg: #191a1c;
$clr-borders: #2b2d30;
$clr-second-box-bg: #292b2f;
$clr-second-box-border: #37393d;
$clr-exp-bar: rgb(197, 189, 98);



$clr-header-bg: #1f2022;
$clr-title-lvl1: #ffffff;
$clr-subtitle-lvl2: #cecece;
$clr-svg-lvl3: #9DA4AE;
$clr-hover: #292b2f;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;


main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $clr-main-bg;   // VAR

    color: white;

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        height: 100%;
        max-width: 1080px;
        margin: 0 auto;

        
        .profile-box {
            background-color: $clr-header-bg;  // VAR
            border: 1px solid $clr-borders;  // VAR
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            justify-content: space-between;


            .profile-info-box {
                display: flex;
                gap: 1.75rem;
                align-items: center;

                img {
                    width: 150px;
                    border-radius: 100%;
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .name {
                        font-weight: $fw-bold;  // VAR
                        font-size: 2rem;
                    }

                    .level-box {
                        font-weight: $fw-light;  // VAR

                        .level {
                            color: $clr-svg-lvl3;  // VAR
                        }

                        .level-bar-box {
                            display: flex;
                            align-items: center;
                            gap: .5rem;

                            .level-bar {
                                border: 2px solid $clr-hover;  // VAR
                                width: 100%;
                                height: 10px;
                                border-radius: 1rem;
                                background-color: $clr-exp-bar;  // VAR
                                overflow: hidden;
                            }

                            .bar-status {
                                color: $clr-svg-lvl3;  // VAR
                                width: 3rem;
                            }
                        }
                    }
                }
            }


            

            .workouts-box {
                margin: 0 2rem;
                display: grid;
                grid-template-rows: auto 1fr;
                background-color: $clr-second-box-bg;
                border: 1px solid $clr-second-box-border;
                border-radius: .5rem;
                width: 200px;

                hr {
                    height: 0;
                    color: #54575c;
                }

                .title {
                    padding: .5rem 0;
                    text-align: center;
                    font-weight: $fw-medium;  // VAR
                    font-size: 1.5rem;
                    color: $clr-subtitle-lvl2;   // VAR
                }

                .total {
                    color: $clr-subtitle-lvl2;
                    font-size: 4rem;
                    font-weight: $fw-medium;
                    display: grid;
                    place-items: center;
                }
            }
        }



        

        .exercises-data-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
            height: 100%;            

            .exercise-box {
                background-color: $clr-header-bg;  // VAR
                border: 1px solid $clr-borders;  // VAR
                border-radius: 1rem;
                display: grid;
                grid-template-rows: auto 1fr;

                .exercise {
                    padding: .5rem 0;
                    text-align: center;
                    font-weight: $fw-medium;  // VAR
                    font-size: 1.75rem;
                    color: $clr-subtitle-lvl2;   // VAR
                }

                .data-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    place-items: center;

                    .total {
                        color: $clr-subtitle-lvl2; // VAR
                        font-weight: $fw-light;
                        
                        span {
                            font-size: 4rem;
                            font-weight: $fw-medium; // VAR
                        }
                    }

                    .extradata-box {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        .extra-data {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
    
                            .subtitle {
                                color: $clr-svg-lvl3;
                                font-weight: $fw-light;
                                font-size: .9rem;
                            }

                            .subtotal {
                                color: $clr-subtitle-lvl2;
                                font-weight: $fw-light;
                                
                                span {
                                    font-size: 2rem;
                                    font-weight: $fw-medium;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


















