@use "../../var";


main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var.$clr-bg-lvl1;   // VAR

    color: white;

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 80%;
        height: 100%;
        max-width: 1080px;
        max-height: 850px;
        margin: 0 auto;

        
        .profile-box {
            background-color: var.$clr-bg-lvl2;  // VAR
            border: 1px solid var.$clr-borders-lvl2;  // VAR
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            justify-content: space-between;


            .profile-info-box {
                display: flex;
                gap: 1.75rem;
                align-items: center;

                img {
                    width: 150px;
                    border-radius: 100%;
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .name {
                        color: var.$clr-text-lvl1;
                        font-weight: var.$fw-bold;  // VAR
                        font-size: 2rem;
                    }

                    .level-box {
                        font-weight: var.$fw-light;  // VAR

                        .level {
                            color: var.$clr-text-lvl3;  // VAR
                        }

                        .level-bar-box {
                            display: flex;
                            align-items: center;
                            gap: .5rem;

                            .level-bar {
                                border: 2px solid var.$clr-hover;  // VAR
                                width: 100%;
                                height: 10px;
                                border-radius: 1rem;
                                background-color: var.$clr-exp-bar;  // VAR
                                overflow: hidden;
                            }

                            .bar-status {
                                color: var.$clr-text-lvl3;  // VAR
                                width: 3rem;
                            }
                        }
                    }
                }
            }


            

            .workouts-box {
                margin: 0 2rem;
                display: grid;
                grid-template-rows: auto 1fr;
                background-color: var.$clr-bg-lvl3;
                border: 1px solid var.$clr-borders-lvl3;
                border-radius: .5rem;
                width: 200px;

                hr {
                    height: 0;
                    color: #54575c;
                }

                .title {
                    padding: .5rem 0;
                    text-align: center;
                    font-weight: var.$fw-medium;  // VAR
                    font-size: 1.5rem;
                    color: var.$clr-text-lvl2;   // VAR
                }

                .total {
                    color: var.$clr-text-lvl2;
                    font-size: 4rem;
                    font-weight: var.$fw-medium;
                    display: grid;
                    place-items: center;
                }
            }
        }



        

        .exercises-data-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 2rem;
            height: 100%;            

            .exercise-box {
                background-color: var.$clr-bg-lvl2;  // VAR
                border: 1px solid var.$clr-borders-lvl2;  // VAR
                border-radius: 1rem;
                display: grid;
                grid-template-rows: auto 1fr;

                .exercise {
                    padding: .5rem 0;
                    text-align: center;
                    font-weight: var.$fw-medium;  // VAR
                    font-size: 1.75rem;
                    color: var.$clr-text-lvl2;   // VAR
                }

                .data-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    place-items: center;

                    .total {
                        color: var.$clr-text-lvl2; // VAR
                        font-weight: var.$fw-light;
                        
                        span {
                            font-size: 4rem;
                            font-weight: var.$fw-medium; // VAR
                        }
                    }

                    .extradata-box {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;

                        .extra-data {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
    
                            .subtitle {
                                color: var.$clr-text-lvl3;
                                font-weight: var.$fw-light;
                                font-size: .9rem;
                            }

                            .subtotal {
                                color: var.$clr-text-lvl2;
                                font-weight: var.$fw-light;
                                
                                span {
                                    font-size: 2rem;
                                    font-weight: var.$fw-medium;
                                }
                            }


                            
                        }
                    }

                    @media (max-width: 1250px) {
                        .total {
                            span {
                                font-size: 3rem;
                            }
                        }
                        
                        .extra-data {
                            .subtotal {
                                span {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


















