@use "../../var";


main {
    margin-left: var.$menu-width;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var.$clr-bg-lvl1;   // VAR

    color: rgb(221, 183, 183);

    .container {
        width: 80%;
        height: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: 2rem;
        
        .routine-display-box {
            background-color: var.$clr-bg-lvl2;
            border: 1px solid var.$clr-borders-lvl2;
            border-radius: 1rem;
            padding: 1.5rem;
            padding-bottom: 2.5rem;

            .title-box {
                display: flex;
                align-items: baseline;
                gap: .75rem;

                .routine-name {
                    color: var.$clr-text-lvl1;
                    font-weight: var.$fw-bold;
                    font-size: 1.75rem;
                    margin-bottom: 2rem;
                }

                svg {
                    stroke: var.$clr-text-lvl1;
                }
            }


            .exercises-container {
                display: flex;
                flex-direction: column;
                gap: 1.75rem;

                hr {
                    color: var.$clr-borders-lvl3;
                }

                .exercise-box {
                    display: flex;
                    flex-direction: column;
                    gap: .75rem;

                    .exercise-name {
                        color: var.$clr-text-lvl2;
                        font-weight: var.$fw-medium;
                        font-size: 1.25rem;
                    }

                    .exercise-note {
                        color: var.$clr-text-lvl3;
                        font-size: .9rem;
                    }

                    .info-box {
                        display: flex;
                        gap: .5rem;

                        .info-display {
                            display: flex;
                            align-items: center;
                            padding-right: .5rem;
                            border-radius: .5rem;
                            background-color: var.$clr-bg-lvl5;

                            svg {
                                stroke: var.$clr-text-lvl3;
                            }

                            .time-svg {
                                fill: var.$clr-text-lvl3;
                                stroke: none;
                                width: 20px;
                                margin: 0 6px;
                            }

                            p {
                                color: var.$clr-text-lvl3;
                            }
                        }
                    }
                }
            }
        }



        .buttons-menu {
            display: flex;
            flex-direction: column;
            width: 200px;
            gap: 1rem;

            .btn {
                text-decoration: none;
                cursor: pointer;
                background-color: var.$clr-bg-lvl2;  
                border: 1px solid var.$clr-borders-lvl2;
                border-radius: .5rem;
                color: var.$clr-text-lvl2;
                font-weight: var.$fw-medium;
                height: 2.5rem;
                display: grid;
                grid-template-columns: 2.5rem 1fr;
                gap: .25rem;
                place-items: center;

                &:hover {
                    background-color: #303236;
                }

                span {
                    justify-self: flex-start;
                }

                svg {
                    stroke: var.$clr-text-lvl3;
                }
            }

            .btn.delete {
                color: rgb(202, 74, 74);
                svg {stroke: rgb(202, 74, 74);}

                &:hover {
                    background-color: rgba(107, 59, 59, 0.315);
                }
            }
        }
    }
}





// PopUp delete window
.delete-window {
    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        display: none;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        padding: 1.5rem;
        max-width: 400px;
        background-color: var.$clr-bg-lvl2;
        border: 3px solid var.$clr-borders-lvl3;
        border-radius: 1rem;
        display: flex;   
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
        z-index: 2;
    
        .title {
            padding: 0 2rem;
            font-size: 1.5rem;
            color: var.$clr-text-lvl1;
            font-weight: var.$fw-medium;
            text-align: center;
            margin: 1rem 0;
        }
    
        .text {
            color: var.$clr-text-lvl2;
            font-size: 1.2rem;
        }
        
    
        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 1rem;

         
    
            .btn {
                cursor: pointer;
                border: none;
                border-radius: .25rem;
                padding: .5rem;
                font-weight: var.$fw-medium;
                color: var.$clr-text-lvl2;
                text-decoration: none;
                text-align: center;
                width: 100%;
            }
    
            .cancel-btn {
                background-color: #424346;    // Change to var
    
                &:hover {
                    background-color: #545558;
                }
            }
    
            .delete-btn {
                background-color: rgb(116, 30, 30);
    
                &:hover {
                    background-color: rgb(136, 76, 76);
                }
            }
        }
    }
}

.delete-window.active {
  .overlay {
    display: block;
  }

  .content {
    transform: translate(-50%, -50%) scale(1);
  }
}





@media (max-width: 900px) {
    main { 
        padding: 0;


        .container {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            margin: 0;
            padding: 0 1rem;
            padding-top: 1rem;
            

            .buttons-menu {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                font-size: .9rem;
                
                
            }
        }
    }


    .delete-window {
        .content {
            width: 80%;
        }
    }
}