@use "../../var";


main {
    margin-left: var.$menu-width;
    height: 100%;

    padding: 2rem;
    background-color: var.$clr-bg-lvl1;   // VAR

    color: rgb(228, 153, 153);

    .container {
        width: 80%;
        height: 100%;
        max-width: 1080px;
        max-height: 700px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        
        .profile-box {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            background-color: var.$clr-bg-lvl2;  // VAR
            border: 1px solid var.$clr-borders-lvl2;  // VAR
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            
            .profile-info-box {
                display: flex;
                gap: 1.75rem;
                align-items: center;

                img {
                    width: 150px;
                    border-radius: 100%;
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .name {
                        color: var.$clr-text-lvl1;
                        font-weight: var.$fw-bold;  // VAR
                        font-size: 2rem;
                    }

                    .level-box {
                        font-weight: var.$fw-light;  // VAR

                        .level {
                            color: var.$clr-text-lvl3;  // VAR
                        }

                        .level-bar-box {
                            display: flex;
                            align-items: center;

                            .level-bar {
                                border: 2px solid var.$clr-hover;  // VAR
                                width: 100%;
                                height: 10px;
                                border-radius: 1rem;
                                overflow: hidden;

                                .fill {
                                    width: 100%;
                                    height: 10px;
                                    background-color: var.$clr-exp-bar;  // VAR
                                }
                            }

                            .bar-status {
                                color: var.$clr-text-lvl3;  // VAR
                                width: 3rem;
                            }
                        }
                    }
                }
            }


            

            .workouts-box {
                margin: 0 2rem;
                display: grid;
                grid-template-rows: auto 1fr;
                background-color: var.$clr-bg-lvl3;
                border: 1px solid var.$clr-borders-lvl3;
                border-radius: .5rem;
                width: 200px;

                hr {
                    height: 0;
                    color: #54575c;
                }

                .title {
                    padding: .5rem 0;
                    padding-bottom: .25rem;
                    text-align: center;
                    font-weight: var.$fw-medium;  // VAR
                    font-size: 1.5rem;
                    color: var.$clr-text-lvl2;   // VAR
                }

                .total {
                    color: var.$clr-text-lvl2;
                    font-weight: var.$fw-light;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    
                    span {
                        font-size: 4rem;
                        font-weight: var.$fw-medium;
                    }
                }
            }
        }





        .week-manage-container {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
            height: 100%;
            background-color: var.$clr-bg-lvl2;  // VAR
            border: 1px solid var.$clr-borders-lvl2;  // VAR
            border-radius: 1rem;
            padding: 1.5rem;
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 2rem;

            .week-display-box {
                background-color: var.$clr-bg-lvl3;
                border: 1px solid var.$clr-borders-lvl3;
                border-radius: .5rem;
                padding: 1rem;
                display: grid;
                grid-template-rows: auto 1fr;
                gap: 1.5rem;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-size: 1.2rem;
                        font-weight: var.$fw-medium;
                        color: var.$clr-text-lvl2;
                    }

                    svg {
                        fill: var.$clr-text-lvl3;

                        &:hover {
                            fill: var.$clr-text-lvl1
                        }
                    }

                }

                .week-display {
                    display: flex;
                    justify-content: space-around;

                    div {
                        text-align: center;

                        span {
                            color: var.$clr-text-lvl3;
                            font-weight: var.$fw-light;
                            font-size: .8rem;
                        }
                    }

                    .circle {
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        background-color: rgb(63, 65, 68);
                        margin-bottom: .25rem;
                    }                   
                }
            }

            .for-today-info {
                display: grid;
                grid-template-rows: auto 1fr;
                gap: .5rem;

                .title {
                    color: var.$clr-text-lvl2;
                    font-weight: var.$fw-medium;
                    font-size: 1.25rem;
                    padding-left: 1rem;
                }

                .for-today-box {
                    background-color: var.$clr-bg-lvl3;
                    border: 1px solid var.$clr-borders-lvl3;
                    height: 100%;
                    border-radius: .5rem;


                    display: grid;
                    place-items: center;
                }
            }
        }





        

        .exercises-data-box {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            
            .exercise-box {
                background-color: var.$clr-bg-lvl2;  // VAR
                border: 1px solid var.$clr-borders-lvl2;  // VAR
                border-radius: 1rem;

                .data-display {
                    display: grid;
                    grid-template-rows: auto 1fr;
                    height: 100%;


                    .title-box {
                        text-align: center;
                        
                        .title {
                            padding: .5rem;
                            font-size: 1.5rem;
                            color: var.$clr-text-lvl1;
                            font-weight: var.$fw-medium
                        }
                    }

                    .data-box {
                        display: grid;
                        place-items: center;

                        .total {
                            color: var.$clr-text-lvl2;
                            font-weight: var.$fw-light;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            span {
                                font-weight: var.$fw-medium;
                                font-size: 3rem;
                            }
                        }
                    }
                }

                .hover-data-display {
                    display: none;
                    grid-template-rows: auto 1fr;
                    height: 100%;

                    .title-box {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        padding: 1rem;
                        padding-bottom: 0;

                        .title {
                            color: var.$clr-text-lvl1;
                            font-weight: var.$fw-medium;
                            font-size: 1.25rem;
                        }

                        svg {
                            width: 40px;
                            height: 40px;
                            fill: rgb(77, 206, 77);
                        }
                    }

                    .data-box {
                        padding: .5rem;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        place-items: center;

                        .total {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: var.$clr-text-lvl2;
                            font-weight: var.$fw-light;

                            .number {
                                font-weight: var.$fw-medium;
                                font-size: 2rem;
                            }
                        }

                        .extra-data-box {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            gap: .5rem;

                            .subtitle {
                                color: rgba(147, 223, 147, 0.918);
                                font-weight: var.$fw-light;
                            }

                            .num-display {
                                color: var.$clr-text-lvl2;
                                font-weight: var.$fw-light;

                                .number {
                                    font-weight: var.$fw-medium;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }

                }

                &:hover {
                    background: linear-gradient(-45deg, var.$clr-bg-lvl2, rgba(77, 206, 77, 0.288)) ;
                    animation: contentApearAnimation 1s;

                    .data-display {
                        display: none;
                    }
                    
                    .hover-data-display {
                        display: grid;
                    }
                }

                @keyframes contentApearAnimation {
                    0% { opacity: 0; }
                    100% {opacity: 1; }
                }
            }
        }






        .to-do-container {
            background-color: var.$clr-bg-lvl2;
            border: 1px solid var.$clr-borders-lvl2;
            border-radius: 1rem;
            padding: 1.25rem;
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 1rem;

            .title {
                font-size: 1.1rem;
                color: var.$clr-text-lvl1;
                font-weight: var.$fw-medium;
            }

            .to-do-box {
                display: flex;
                flex-direction: column;
                gap: .25rem;

                .to-do {
                    background-color: var.$clr-bg-lvl3;
                    border-radius: .25rem;
                    overflow: hidden;
                    height: 100%;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: start;
                    align-items: center;

                    &:hover {
                        background-color: #303236;
                    }

                    .text {
                        color: var.$clr-text-lvl2
                    }

                    .check-bg {
                        display: grid;
                        place-items: center;
                        margin-right: .5rem;
                        padding: 0 .5rem;
                        height: 100%;
                        background-color: rgba(91, 236, 91, 0.473);

                        .checkbox {
                            background-color: rgb(170, 179, 182);
                            padding: .6rem;
                            border: none;
                            border-radius: 100%;
                            position: relative;
                            
                            svg {
                                display: none;
                                width: 12px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            &:hover {
                                svg {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}