<div class="exercises-table-container">
  <form class="search-form">
    <p class="section-title">Library</p>
    <input class="search" type="text" name="search" placeholder="Search...">
    <hr>
  </form>
  <ul>
    <% for (let i = 0; i < exercises.length; i++) { %>
      <li>
        <button class="list-btn"><% if (exercises[i].name.length > 12) { %>
          <%= exercises[i].name.substring(0, 10) + '...' %>
          <% } else { %>
            <%= exercises[i].name %>
          <% } %>
          <p class="main-muscle"><%= exercises[i].mainMuscle %></p>
          <% if (exercises[i].isCustom === true) { %>
            <p class="custom-show">Custom</p>
          <% } %>
        </button>
      </li>
    <% } %>
  </ul>
</div>