$menu-width: 250px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$clr-bg-lvl1: #191a1c;
$clr-bg-lvl2: #1f2022;
$clr-bg-lvl3: #292b2f;
$clr-bg-lvl5: #4a4a4a;

$clr-borders-lvl2: #2b2d30;
$clr-borders-lvl3: #37393d;

$clr-hover: #292b2f;

$clr-text-lvl1: #ffffff;
$clr-text-lvl2: #cecece;
$clr-text-lvl3: #9DA4AE;



$clr-exp-bar: rgb(197, 189, 98);

$clr: #191a1b