@use '../var';

main {
    display: grid;
    place-items: center;
    background-color: var.$clr-bg-lvl1;
    height: 100%;

    .container {
        width: 30rem;
        background-color: var.$clr-bg-lvl2;
        border: 1px solid var.$clr-borders-lvl2;
        border-radius: 1rem;

        .title-box {
            .title {
                display: grid;
                place-items: center;
                padding: 2rem;
                font-size: 3rem;
                font-weight: var.$fw-bold;
                color: var.$clr-text-lvl1
            }

            hr {
                color: var.$clr-borders-lvl3;
            }
        }

        .login-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            padding: 4rem;

            a {
                display: block;
                text-decoration: none;
                color: var.$clr-text-lvl2;
                font-size: 1.25rem;
                font-weight: var.$fw-medium;
                width: 8rem;
                text-align: center;
                padding: 1rem;
                border-radius: .5rem;
            }

            .main-btn {
                background-color: rgba(47, 145, 47, 0.555);

                &:hover {
                    background-color: rgba(47, 145, 47, 0.795);
                    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.103);
                }
            }

            .secondary-btn {
                font-size: 1rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}