$clr-bg-lvl0: #FFFFFF;

$clr-bg-lvl1: #E7E7E7;
$clr-bg-lvl2: #D1D1D1;
$clr-bg-lvl3: #B6B6B6;
$clr-bg-lvl5: #9B9B9B;

$clr-borders-lvl2: #2b2d30;
$clr-borders-lvl3: #37393d;

$clr-text-lvl1: #505050;
$clr-text-lvl2: #313131;
$clr-text-lvl3: #202020;

$color-1: rgb(161, 74, 40);
$color-1-hover: rgb(173, 90, 57);


// ACTUALES
// Colors
$bg-1: #191a1c;
$bg-2: #1f2022;
$bg-3: #292b2f;
$bg-4: #3c3c3c;
$bg-5: #4a4a4a;
$bg-6: #666666;

$green-0: #285a30;
$green-1: #35753e;
$green-1-rgba: #35753dc0;
$green-2: #418b5e;
$green-3: #4a8a62;

$text-1: #ffffff;
$text-2: #dadada;
$text-3: #b3b3b3;
$text-4: #858585;



// media responsive (min-width: )
$media-break: 600px;

// Header
$nav-height: 50px;
$nav-width-mobile: 300px;
$nav-width-desktop: 250px;
$nav-profile-pic-dimentions: 100px;

// LogOut PopUp
$popup-height: 200px;
$popup-width: 300px;