$clr-bg-lvl0: #FFFFFF;

$clr-bg-lvl1: #E7E7E7;
$clr-bg-lvl2: #D1D1D1;
$clr-bg-lvl3: #B6B6B6;
$clr-bg-lvl5: #9B9B9B;

$clr-borders-lvl2: #2b2d30;
$clr-borders-lvl3: #37393d;

$clr-text-lvl1: #505050;
$clr-text-lvl2: #313131;
$clr-text-lvl3: #202020;

$color-1: rgb(161, 74, 40);
$color-1-hover: rgb(173, 90, 57);


// ACTUALES

// media responsive (min-width: )
$media-break: 600px;

// Header
$nav-height: 50px;
$nav-width-mobile: 300px;
$nav-width-desktop: 250px;
$nav-profile-pic-dimentions: 100px;