@use 'var';

@use './modules/register';

@use './modules/header';

@use './modules/routines';

// div, like hr bar
.hr-div {
    width: 100%;
    height: 2px;
    background-color: black;
}


// Page contetnt Layout 
// Add height: 100% in parent node
.page-content {
    margin-top: var.$nav-height;
    height: calc(100% - var.$nav-height);
}

@media (min-width: var.$media-break) {
    .page-content{
        margin-top: 0;
        margin-left: var.$nav-width-desktop;
    }
}