@use 'var';

@use './modules/register';

@use './modules/header';

@use './modules/routines';

@use './modules/exercises';


// Page contetnt Layout 
// Add height: 100% in parent node
:root {
    background-color: var.$bg-1;
    height: fit-content;
}

.page-content {
    min-height: 100%;
    background-color: var.$bg-1;
    padding-top: calc(var.$nav-height + 15px);
}

@media (min-width: var.$media-break) {
    .page-content{
        height: 100%;
        margin-left: var.$nav-width-desktop;
        padding-top: 25px;
    }
}


// Exercises / Routines new button
.new-btn {
    background-color: var.$green-1;
    border: none;
    border-radius: 8px;
    color: var.$text-2;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: var.$green-2;
    }
}