.register-container {
  background-color: #E7E7E7;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.register-container .page-title {
  color: #505050;
  font-weight: bold;
  font-size: 1.5rem;
}
.register-container .form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: #D1D1D1;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
}
.register-container .form-container .input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #37393d;
  outline: none;
  background-color: #B6B6B6;
  color: #313131;
}
.register-container .form-container .input::placeholder {
  color: #202020;
}
.register-container .form-container .submit-btn {
  padding: 0.4rem;
  align-self: flex-start;
  width: 50%;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(161, 74, 40);
  color: #313131;
}
.register-container .form-container .submit-btn:hover {
  background-color: rgb(173, 90, 57);
}
.register-container .form-container .footer-txt {
  color: #202020;
}
.register-container .form-container .footer-txt .link {
  margin: 0.5rem;
  color: #313131;
  font-weight: bold;
  text-decoration: none;
}
.register-container .form-container .footer-txt .link:hover {
  color: #505050;
}

@media (min-width: 500px) {
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    width: 450px;
  }
}
.header-component-container {
  z-index: 0;
  position: fixed;
  background-color: red;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-component-container .menu-svg-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.header-component-container .menu-svg-btn .menu-svg {
  fill: black;
}
.header-component-container .title {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (min-width: 600px) {
  .header-component-container {
    display: none;
  }
}
#current-page {
  background-color: rgb(95, 93, 93);
}

@keyframes openOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav-component-container.active .nav-container {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}
.nav-component-container.active .overlay {
  left: 0;
  transition: all 0s;
  animation: openOverlay 0.3s;
}

.nav-component-container.inactive .nav-container {
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.3s ease-out;
}
.nav-component-container.inactive .overlay {
  left: -100vw;
  transition: all 0s 0.3s;
  animation: closeOverlay 0.3s linear forwards;
}

@media (min-width: 600px) {
  .nav-component-container.inactive .nav-container {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.nav-component-container {
  z-index: 1;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-component-container .nav-container {
  height: 100%;
  width: 300px;
  position: fixed;
}
.nav-component-container .nav-container .profile-info-box {
  background-color: blue;
}
.nav-component-container .nav-container .profile-info-box .desktop-title {
  display: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-component-container .nav-container .profile-info-box .desktop-hr {
  display: none;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container .profile-info-box .desktop-title {
    display: block;
    padding: 10px 15px;
  }
  .nav-component-container .nav-container .profile-info-box .desktop-hr {
    display: block;
  }
}
.nav-component-container .nav-container .profile-info-box .accesibility {
  display: flex;
  justify-content: space-between;
}
.nav-component-container .nav-container .profile-info-box .accesibility .menu-svg-btn {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
}
.nav-component-container .nav-container .profile-info-box .accesibility .menu-svg-btn svg {
  fill: black;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container .profile-info-box .accesibility {
    display: none;
  }
}
.nav-component-container .nav-container .profile-info-box .profile-img {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  border-radius: 100%;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container .profile-info-box .profile-img {
    margin-top: 15px;
  }
}
.nav-component-container .nav-container .profile-info-box .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-component-container .nav-container .profile-info-box .info-box .user-info-box {
  padding: 15px;
  padding-top: 8px;
}
.nav-component-container .nav-container .profile-info-box .info-box .user-info-box .date-p {
  font-size: 0.85rem;
}
.nav-component-container .nav-container .profile-info-box .info-box .logout-box .logout-btn {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  margin-right: 8px;
}
.nav-component-container .nav-container .profile-info-box .info-box .logout-box .tooltip {
  display: none;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-radius: 10px;
  position: absolute;
  transform: translate(-25%, -90%);
  animation: tooltipAnimation 0.5s ease-out;
}
@keyframes tooltipAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
.nav-component-container .nav-container .profile-info-box .info-box .logout-box:hover .tooltip {
  display: block;
}
.nav-component-container .nav-container .nav-options-box {
  background-color: rgb(180, 180, 178);
  height: 100%;
  padding: 15px;
}
.nav-component-container .nav-container .nav-options-box ul {
  list-style: none;
}
.nav-component-container .nav-container .nav-options-box ul li {
  margin-bottom: 8px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}
.nav-component-container .nav-container .nav-options-box ul li .nav-item {
  padding: 10px 10px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  text-decoration: none;
}
.nav-component-container .nav-container .nav-options-box ul li .nav-item:hover {
  background-color: grey;
}
.nav-component-container .nav-container .nav-options-box ul li .nav-item svg {
  fill: black;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container {
    width: 250px;
  }
}
.nav-component-container .overlay {
  background-color: rgba(0, 0, 0, 0.432);
  height: 100vh;
  width: 100vw;
  border: none;
  position: absolute;
}
@media (min-width: 600px) {
  .nav-component-container .overlay {
    display: none;
  }
}

.logout-popup-component.active .content {
  transform: scale(1);
  transition: all 0.3s;
}
.logout-popup-component.active .overlay {
  transform: scale(1);
  transition: all 0s;
  animation: openOverlay 0.3s;
}

.logout-popup-component.inactive {
  width: 0;
  height: 0;
}
.logout-popup-component.inactive .content {
  transform: scale(0);
  transition: all 0.3s;
}
.logout-popup-component.inactive .overlay {
  transform: scale(0);
  transition: all 0s 0.3s;
  animation: closeOverlay 0.3s;
}

.logout-popup-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-popup-component .content {
  height: 200px;
  width: 200px;
  background-color: rgb(51, 51, 51);
  z-index: 3;
}
.logout-popup-component .overlay {
  background-color: rgba(0, 0, 0, 0.432);
  border: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: scale(0);
}

.routines-page-container {
  height: 100%;
}

.hr-div {
  width: 100%;
  height: 2px;
  background-color: black;
}

.page-content {
  margin-top: 50px;
  height: calc(100% - 50px);
}

@media (min-width: 600px) {
  .page-content {
    margin-top: 0;
    margin-left: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
