.register-container {
  background-color: #E7E7E7;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.register-container .page-title {
  color: #505050;
  font-weight: bold;
  font-size: 1.5rem;
}
.register-container .form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: #D1D1D1;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
}
.register-container .form-container .input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #37393d;
  outline: none;
  background-color: #B6B6B6;
  color: #313131;
}
.register-container .form-container .input::placeholder {
  color: #202020;
}
.register-container .form-container .submit-btn {
  padding: 0.4rem;
  align-self: flex-start;
  width: 50%;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(161, 74, 40);
  color: #313131;
}
.register-container .form-container .submit-btn:hover {
  background-color: rgb(173, 90, 57);
}
.register-container .form-container .footer-txt {
  color: #202020;
}
.register-container .form-container .footer-txt .link {
  margin: 0.5rem;
  color: #313131;
  font-weight: bold;
  text-decoration: none;
}
.register-container .form-container .footer-txt .link:hover {
  color: #505050;
}

@media (min-width: 500px) {
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    width: 450px;
  }
}
.mobile-menu {
  display: none;
}

header {
  background-color: #B6B6B6;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  position: fixed;
}
header .nav-menu {
  padding: 1rem;
}
header .nav-menu h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #505050;
}
header .nav-menu nav {
  margin-top: 0.75rem;
  padding: 1rem 0.5rem;
}
header .nav-menu nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
header .nav-menu nav ul li .nav-item {
  height: 50px;
  padding: 0.75rem 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #202020;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
header .nav-menu nav ul li .nav-item svg {
  width: 24px;
}
header .nav-menu nav ul li .nav-item .nav-svg {
  fill: #202020;
  stroke: #202020;
}
header .nav-menu nav ul li .nav-item:hover {
  background-color: #9B9B9B;
}
header .bottom-menu .hr {
  width: 100%;
  height: 2px;
  background-color: #46484d;
}
header .bottom-menu .user-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
}
header .bottom-menu .user-info-box .user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .bottom-menu .user-info-box .user-info img {
  border-radius: 100%;
  width: 45px;
}
header .bottom-menu .user-info-box .user-info h3 {
  color: #313131;
  font-weight: bold;
}
header .bottom-menu .menu-settings {
  position: relative;
}
header .bottom-menu .menu-settings:hover .tooltip {
  display: block;
  animation: tooltipAnimation 0.5s;
}
@keyframes tooltipAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
header .bottom-menu .menu-settings .tooltip {
  display: none;
  position: absolute;
  color: #313131;
  background-color: rgb(29, 29, 29);
  opacity: 0.9;
  padding: 1rem;
  border-radius: 0.5rem;
  top: -70%;
  left: 50%;
  transform: translate(-50%, -70%);
}
header .bottom-menu .menu-settings .svg-container .svg-settings {
  width: 24px;
  height: 24px;
  fill: #202020;
}
header .bottom-menu .menu-settings .svg-container .svg-settings:hover {
  fill: #313131;
}

@media (max-width: 1100px) {
  .header {
    overflow: hidden;
    width: 0;
  }
  .header.unactive {
    animation: headerHide 0.5s ease-in-out;
  }
  .header.unactive .nav-menu h1 {
    display: none;
  }
  .header.active {
    overflow: hidden;
    z-index: 1;
    width: 250px;
    height: 100%;
    animation: headerShow 0.5s ease-in-out;
  }
  @keyframes headerShow {
    0% {
      width: 0;
    }
    100% {
      width: 250px;
    }
  }
  @keyframes headerHide {
    0% {
      width: 250px;
    }
    100% {
      width: 0;
    }
  }
  .nav-menu {
    margin-top: 1.25rem;
  }
  .mobile-menu {
    z-index: 2;
    display: block;
    position: fixed;
    top: 0;
    background-color: #9B9B9B;
    width: 100%;
    height: 3rem;
    padding-left: 0.15rem;
    display: flex;
    align-items: center;
  }
  .mobile-menu .mobile-open-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu .mobile-open-btn svg {
    stroke: #505050;
  }
  .mobile-menu .mobile-close-btn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu .mobile-close-btn svg {
    stroke: #505050;
  }
  .mobile-menu h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #505050;
  }
}
.home-container {
  background-color: #E7E7E7;
  height: 100%;
  color: rgb(148, 111, 111);
}

/*# sourceMappingURL=styles.css.map */
