.register-container {
  background-color: #E7E7E7;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.register-container .page-title {
  color: #505050;
  font-weight: bold;
  font-size: 1.5rem;
}
.register-container .form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: #D1D1D1;
  border: 1px solid #2b2d30;
  border-radius: 1rem;
}
.register-container .form-container .input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #37393d;
  outline: none;
  background-color: #B6B6B6;
  color: #313131;
}
.register-container .form-container .input::placeholder {
  color: #202020;
}
.register-container .form-container .submit-btn {
  padding: 0.4rem;
  align-self: flex-start;
  width: 50%;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(161, 74, 40);
  color: #313131;
}
.register-container .form-container .submit-btn:hover {
  background-color: rgb(173, 90, 57);
}
.register-container .form-container .footer-txt {
  color: #202020;
}
.register-container .form-container .footer-txt .link {
  margin: 0.5rem;
  color: #313131;
  font-weight: bold;
  text-decoration: none;
}
.register-container .form-container .footer-txt .link:hover {
  color: #505050;
}

@media (min-width: 500px) {
  .register-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    width: 450px;
  }
}
.header-component-container {
  z-index: 10;
  position: fixed;
  background-color: #285a30;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-component-container .menu-svg-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.header-component-container .menu-svg-btn .menu-svg {
  fill: #dadada;
}
.header-component-container .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: 600px) {
  .header-component-container {
    display: none;
  }
}
#current-page {
  background-color: rgba(53, 117, 61, 0.7529411765);
  color: #ffffff;
}
#current-page svg {
  fill: #dadada;
}

@keyframes openOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.nav-component-container.active .nav-container {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}
.nav-component-container.active .overlay {
  left: 0;
  transition: all 0s;
  animation: openOverlay 0.3s;
}

.nav-component-container.inactive .nav-container {
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.3s ease-out;
}
.nav-component-container.inactive .overlay {
  left: -100vw;
  transition: all 0s 0.3s;
  animation: closeOverlay 0.3s linear forwards;
}

@media (min-width: 600px) {
  .nav-component-container.inactive .nav-container {
    position: fixed;
    top: 0;
    left: 0;
  }
}
.nav-component-container {
  z-index: 11;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-component-container .nav-container {
  height: 100%;
  width: 300px;
  position: fixed;
}
.nav-component-container .nav-container .profile-info-box {
  background-color: #285a30;
}
.nav-component-container .nav-container .profile-info-box .desktop-title {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container .profile-info-box .desktop-title {
    display: block;
    padding: 10px 15px;
  }
}
.nav-component-container .nav-container .profile-info-box .accesibility {
  display: flex;
  justify-content: space-between;
}
.nav-component-container .nav-container .profile-info-box .accesibility .menu-svg-btn {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
}
.nav-component-container .nav-container .profile-info-box .accesibility .menu-svg-btn svg {
  fill: #b3b3b3;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container .profile-info-box .accesibility {
    display: none;
  }
}
.nav-component-container .nav-container .profile-info-box .profile-img {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  border-radius: 100%;
  border: 3px solid #dadada;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container .profile-info-box .profile-img {
    margin-top: 15px;
  }
}
.nav-component-container .nav-container .profile-info-box .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-component-container .nav-container .profile-info-box .info-box .user-info-box {
  padding: 15px;
  padding-top: 8px;
  color: #dadada;
  font-weight: bold;
  font-size: 1.15rem;
}
.nav-component-container .nav-container .profile-info-box .info-box .user-info-box .date-p {
  font-size: 0.85rem;
  color: #b3b3b3;
}
.nav-component-container .nav-container .profile-info-box .info-box .logout-box {
  cursor: pointer;
}
.nav-component-container .nav-container .profile-info-box .info-box .logout-box .logout-btn {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  margin-right: 8px;
}
.nav-component-container .nav-container .profile-info-box .info-box .logout-box .logout-btn svg {
  fill: #ffffff;
}
.nav-component-container .nav-container .profile-info-box .info-box .logout-box .tooltip {
  display: none;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-radius: 10px;
  position: absolute;
  transform: translate(-25%, -90%);
  animation: tooltipAnimation 0.5s ease-out;
}
@keyframes tooltipAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@media (min-width: 600px) {
  .nav-component-container .nav-container .profile-info-box .info-box .logout-box:hover .tooltip {
    display: block;
  }
}
.nav-component-container .nav-container .nav-options-box {
  background-color: #1f2022;
  height: 100%;
  padding: 15px;
}
.nav-component-container .nav-container .nav-options-box ul {
  list-style: none;
}
.nav-component-container .nav-container .nav-options-box ul li {
  margin-bottom: 8px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}
.nav-component-container .nav-container .nav-options-box ul li .nav-item {
  padding: 10px 10px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #dadada;
  text-decoration: none;
}
.nav-component-container .nav-container .nav-options-box ul li .nav-item:hover {
  background-color: rgba(53, 117, 61, 0.7529411765);
}
.nav-component-container .nav-container .nav-options-box ul li .nav-item svg {
  fill: #858585;
}
@media (min-width: 600px) {
  .nav-component-container .nav-container {
    width: 250px;
  }
}
.nav-component-container .overlay {
  background-color: rgba(0, 0, 0, 0.432);
  height: 100vh;
  width: 100vw;
  border: none;
  position: absolute;
}
@media (min-width: 600px) {
  .nav-component-container .overlay {
    display: none;
  }
}

.logout-popup-component.active .content {
  transform: scale(1);
  transition: all 0.3s;
}
.logout-popup-component.active .overlay {
  transform: scale(1);
  transition: all 0s;
  animation: openOverlay 0.3s;
}

.logout-popup-component.inactive {
  height: 0;
}
.logout-popup-component.inactive .content {
  transform: scale(0);
  transition: all 0.3s;
}
.logout-popup-component.inactive .overlay {
  transform: scale(0);
  transition: all 0s 0.3s;
  animation: closeOverlay 0.3s;
}

.logout-popup-component .content {
  height: 200px;
  width: 300px;
  background-color: rgb(51, 51, 51);
  z-index: 13;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  padding: 25px;
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 10px;
}
.logout-popup-component .content .alert-title {
  grid-row: 1/2;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 25px;
}
.logout-popup-component .content .alert-text {
  grid-row: 1/2;
  color: rgb(170, 167, 167);
}
.logout-popup-component .content .alert-buttons {
  display: flex;
  gap: 10px;
}
.logout-popup-component .content .alert-buttons .alert-btn {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 8px;
}
.logout-popup-component .content .alert-buttons .alert-btn.cancel {
  background-color: rgb(99, 53, 53);
  color: white;
}
.logout-popup-component .content .alert-buttons .alert-btn.submit {
  background-color: rgb(28, 109, 28);
  color: white;
  font-weight: bold;
}
.logout-popup-component .overlay {
  background-color: rgba(0, 0, 0, 0.432);
  border: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  transform: scale(0);
}

.routines-page-container {
  height: 100%;
}
.routines-page-container .page-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
.routines-page-container .page-content .routines-container {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  width: calc(100vw - 30px);
}
.routines-page-container .page-content .routines-container .title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.routines-page-container .page-content .routines-container .title-box .page-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.routines-page-container .page-content .routines-container .title-box .new-routine-btn {
  padding: 8px 16px;
  align-self: flex-end;
}
.routines-page-container .page-content .routines-container .routine-component-container {
  text-decoration: none;
  background-color: #284433;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #508163;
}
.routines-page-container .page-content .routines-container .routine-component-container:hover {
  background-color: #508163;
}
.routines-page-container .page-content .routines-container .routine-component-container:active {
  background-color: #3f5f4c;
}
.routines-page-container .page-content .routines-container .routine-component-container .routine-info .routine-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 6px;
  color: #dadada;
}
.routines-page-container .page-content .routines-container .routine-component-container .routine-info .routine-mainmuscles {
  font-size: 0.9rem;
  color: #b3b3b3;
}
.routines-page-container .page-content .routines-container .routine-component-container .routine-start-btn {
  background-color: #dadada;
  color: #508163;
  padding: 10px 16px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.103);
  transition: background-color 0.25s;
}
.routines-page-container .page-content .routines-container .routine-component-container .routine-start-btn:hover {
  background-color: #ffffff;
}
@media (min-width: 600px) {
  .routines-page-container .page-content .routines-container .routine-component-container .routine-start-btn {
    background-color: #b3b3b3;
  }
}
.routines-page-container .page-content .routines-container .no-routines-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
  gap: 8px;
  border-top: 1px solid #3c3c3c;
}
.routines-page-container .page-content .routines-container .no-routines-container svg {
  fill: #35753e;
  width: 40px;
  height: 40px;
}
.routines-page-container .page-content .routines-container .no-routines-container p {
  color: #858585;
  font-size: 1.25rem;
}
@media (min-width: 600px) {
  .routines-page-container .page-content .routines-container {
    padding: 30px;
    padding-top: 20px;
    background-color: #292b2f;
    border-radius: 8px;
    width: 500px;
  }
}

.create-routine-page-container {
  display: flex;
  justify-content: center;
}
@keyframes openOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.create-routine-page-container .exercises-window.active .exercises-container {
  transform: scale(1);
}
.create-routine-page-container .exercises-window.active .overlay {
  left: 0;
  transition: all 0s;
  animation: openOverlay 0.3s;
}
.create-routine-page-container .exercises-window.inactive .exercises-container {
  transform: scale(0);
}
.create-routine-page-container .exercises-window.inactive .overlay {
  transition: all 0s 0.3s;
  animation: closeOverlay 0.3s;
}
.create-routine-page-container .exercises-window {
  background-color: red;
}
.create-routine-page-container .exercises-window .overlay {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.432);
  height: 100vh;
  width: 100vw;
  border: none;
  left: -100vw;
  top: 0;
  position: fixed;
}
.create-routine-page-container .exercises-window .exercises-container {
  transition: transform 0.2s;
  z-index: 1;
  position: fixed;
  height: 70vh;
  width: calc(100vw - 30px);
  left: calc(50% - (100vw - 30px) / 2);
  top: calc(50% - 35vh);
  background-color: #3c3c3c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
}
.create-routine-page-container .exercises-window .exercises-container .cancel-btn {
  background-color: #666666;
  color: #dadada;
  border: none;
  border-radius: 6px;
  width: 50%;
  padding: 6px;
  font-size: 1.2rem;
}
.create-routine-page-container .exercises-window .exercises-container .cancel-btn:hover {
  background-color: #858585;
}
.create-routine-page-container .exercises-window .exercises-container .exercises-window-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}
.create-routine-page-container .exercises-window .exercises-container .exercises-window-component .exercise-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4a4a4a;
  border: 2px solid #666666;
  padding: 15px;
  border-radius: 8px;
}
.create-routine-page-container .exercises-window .exercises-container .exercises-window-component .exercise-info .info-box .name {
  color: #dadada;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}
.create-routine-page-container .exercises-window .exercises-container .exercises-window-component .exercise-info .info-box .mainmuscle {
  font-size: 0.9rem;
  color: #b3b3b3;
  text-align: left;
}
.create-routine-page-container .exercises-window .exercises-container .exercises-window-component .exercise-info .is-custom {
  background-color: #508163;
  border-radius: 20px;
  padding: 6px 12px;
  color: #dadada;
  font-size: 0.85rem;
}
.create-routine-page-container .exercises-window .exercises-container .exercises-window-component .exercise-info:hover {
  background-color: #666666;
}
@media (min-width: 600px) {
  .create-routine-page-container .exercises-window .exercises-container .cancel-btn {
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .create-routine-page-container .exercises-window .exercises-container {
    width: 325px;
    height: 90vh;
    top: calc(50% - 45vh);
    left: calc(50% - 162.5px);
  }
}
.create-routine-page-container .content {
  padding-top: 75px;
}
.create-routine-page-container .content .title-box {
  margin-left: 10px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.create-routine-page-container .content .title-box .back-btn {
  fill: #508163;
  padding: 5px;
}
.create-routine-page-container .content .title-box .page-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
.create-routine-page-container .content .form-container {
  margin-top: 15px;
  padding: 20px;
  background-color: #292b2f;
  border-radius: 8px;
  width: calc(100vw - 30px);
}
.create-routine-page-container .content .form-container form {
  width: 100%;
}
.create-routine-page-container .content .form-container form .buttons-box {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.create-routine-page-container .content .form-container form .buttons-box .form-btn {
  flex: 1;
  border: none;
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
.create-routine-page-container .content .form-container form .buttons-box .save-btn {
  background-color: #35753e;
  font-weight: bold;
  color: #dadada;
}
.create-routine-page-container .content .form-container form .buttons-box .save-btn:hover {
  background-color: #508163;
}
.create-routine-page-container .content .form-container form .buttons-box .cancel-btn {
  background-color: #666666;
  color: #dadada;
}
.create-routine-page-container .content .form-container form .buttons-box .cancel-btn:hover {
  background-color: #858585;
}
.create-routine-page-container .content .form-container form .name-input {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: 3px solid #284433;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
  color: #dadada;
}
.create-routine-page-container .content .form-container form .name-input:focus {
  border-color: #508163;
}
.create-routine-page-container .content .form-container form .name-input:hover {
  border-color: #508163;
}
.create-routine-page-container .content .form-container form .name-input::placeholder {
  color: #858585;
}
.create-routine-page-container .content .form-container form .hr-bar {
  height: 1px;
  background-color: #4a4a4a;
}
.create-routine-page-container .content .form-container form .add-btn-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.create-routine-page-container .content .form-container form .add-btn-box .add-btn {
  background-color: #35753e;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  color: #dadada;
  cursor: pointer;
}
.create-routine-page-container .content .form-container form .add-btn-box .add-btn:hover {
  background-color: #508163;
}
.create-routine-page-container .content .form-container form .inputs-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box {
  background-color: #3c3c3c;
  padding: 15px;
  border-radius: 8px;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .input-title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .input-title-box .input-title {
  color: #dadada;
  font-size: 1.5rem;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .input-title-box .delete-input-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .input-title-box .delete-input-btn svg {
  fill: #b3b3b3;
  transition: 0.2s;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .input-title-box .delete-input-btn svg:hover {
  fill: rgb(133, 73, 73);
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .data-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .data-container .data {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .data-container .data p {
  color: #858585;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .data-container .data input {
  width: 40px;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  border-radius: 6px;
  outline: none;
  padding: 4px 0;
  color: #b3b3b3;
  text-align: center;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .data-container .data input::placeholder {
  text-align: center;
  columns: #858585;
}
.create-routine-page-container .content .form-container form .inputs-container .input-box .data-container .data input:focus, .create-routine-page-container .content .form-container form .inputs-container .input-box .data-container .data input:hover {
  border-color: #ffffff;
}
.create-routine-page-container .content .form-container form .inputs-container .no-exercises-text {
  padding: 30px;
  color: #858585;
  text-align: center;
  font-size: 1.25rem;
}
@media (min-width: 600px) {
  .create-routine-page-container .content .form-container {
    width: 500px;
  }
}

.routine-view-page {
  height: 100%;
}
.routine-view-page .page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.routine-view-page .page-content .routine-container {
  margin-top: 2rem;
  background-color: #292b2f;
  padding: 30px;
  border-radius: 8px;
  width: calc(100vw - 30px);
}
.routine-view-page .page-content .routine-container .title-box {
  display: flex;
  justify-content: space-between;
}
.routine-view-page .page-content .routine-container .title-box .title-section {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.routine-view-page .page-content .routine-container .title-box .title-section .page-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.75rem;
}
.routine-view-page .page-content .routine-container .title-box .title-section .back-btn {
  fill: #508163;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-btn-box {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 3px;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-btn-box .menu-svg {
  fill: #dadada;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-btn-box .menu-svg:hover, .routine-view-page .page-content .routine-container .title-box .menu-container .menu-btn-box .menu-svg:active {
  fill: #ffffff;
}
@keyframes openOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes closeMenu {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -250px;
  }
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile {
  z-index: 2;
  position: fixed;
  bottom: -250px;
  left: -100vw;
  width: 100%;
  height: 250px;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option {
  cursor: pointer;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #dadada;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option:hover {
  color: #ffffff;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option:hover .svg-fix {
  fill: #ffffff;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option:hover .delete-svg {
  fill: rgb(187, 104, 104);
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option .svg-fix {
  fill: #858585;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option .delete-svg {
  fill: rgb(133, 73, 73);
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option.delete {
  color: rgb(173, 66, 66);
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option.delete:hover {
  color: rgb(189, 92, 92);
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .hr-bar {
  height: 1px;
  background-color: #4a4a4a;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .overlay {
  background-color: rgba(0, 0, 0, 0.432);
  height: 100vh;
  width: 100vw;
  border: none;
  position: absolute;
  bottom: 250px;
  left: -100vw;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile.active {
  left: 0;
  transition: left 0s;
  bottom: 0;
  transition: bottom 0.3s ease-out;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile.active .overlay {
  left: 0;
  transition: all 0s;
  animation: openOverlay 0.3s;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile.inactive {
  animation: closeMenu 0.3s ease-out;
  transition: all 0s 0.3s;
}
.routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile.inactive .overlay {
  transition: all 0s 0.3s;
  animation: closeOverlay 0.3s;
}
@media (min-width: 600px) {
  .routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile {
    display: none;
    position: absolute;
    width: 200px;
    height: fit-content;
    top: 0;
    left: 100%;
  }
  .routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .overlay {
    display: none;
  }
  .routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content {
    position: static;
  }
  .routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile .content .menu-option {
    position: static;
  }
  .routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile.active {
    transition: none;
    transition: none;
    left: 100%;
  }
  .routine-view-page .page-content .routine-container .title-box .menu-container .menu-display-mobile.inactive {
    animation: none;
    transition: none;
  }
}
@media (min-width: 600px) {
  .routine-view-page .page-content .routine-container .title-box .menu-container {
    position: relative;
  }
  .routine-view-page .page-content .routine-container .title-box .menu-container:hover .menu-display-mobile {
    display: block;
  }
}
.routine-view-page .page-content .routine-container .info-box {
  margin-top: 20px;
}
.routine-view-page .page-content .routine-container .info-box .routine-total {
  font-size: 1.1rem;
  color: #b3b3b3;
}
.routine-view-page .page-content .routine-container .info-box .routine-total span {
  color: #508163;
  font-weight: bold;
  font-size: 1.25rem;
  margin-left: 6px;
}
.routine-view-page .page-content .routine-container .info-box .routine-date {
  padding-left: 10px;
  margin-top: 5px;
  font-size: 0.9rem;
  color: #858585;
  margin-bottom: 20px;
}
.routine-view-page .page-content .routine-container .info-box .routine-date span {
  color: #858585;
  margin-left: 6px;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data {
  background: #1f2022;
  border: 2px solid #4a4a4a;
  border-radius: 8px;
  padding: 15px;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data .name {
  font-size: 1.5rem;
  color: #dadada;
  font-weight: bold;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data .muscle {
  color: #858585;
  padding-left: 5px;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data .data {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data .data .exercise-data-box {
  background-color: #4a4a4a;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 6px;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data .data .exercise-data-box .data-text {
  color: #b3b3b3;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data .data .exercise-data-box .data-text span {
  font-weight: bold;
  margin-right: 2px;
}
.routine-view-page .page-content .routine-container .info-box .routine-data-container .exercise-data .data .exercise-data-box svg {
  fill: #858585;
}
@media (min-width: 600px) {
  .routine-view-page .page-content .routine-container {
    width: 500px;
  }
}

.routines-page-container {
  height: 100%;
}
.routines-page-container .page-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
.routines-page-container .page-content .routines-container .exercise-component {
  display: flex;
  align-items: center;
}
.routines-page-container .page-content .routines-container .exercise-component .exercises-component-container {
  width: 100%;
  position: relative;
  background-color: #4a4a4a;
  border: 2px solid #666666;
  border-radius: 8px;
  padding: 15px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.routines-page-container .page-content .routines-container .exercise-component .exercises-component-container .exercise-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.routines-page-container .page-content .routines-container .exercise-component .exercises-component-container .exercise-info .info-box .name {
  color: #dadada;
  font-weight: bold;
  font-size: 1.2rem;
}
.routines-page-container .page-content .routines-container .exercise-component .exercises-component-container .exercise-info .info-box .mainmuscle {
  font-size: 0.9rem;
  color: #b3b3b3;
}
.routines-page-container .page-content .routines-container .exercise-component .exercises-component-container .exercise-info .is-custom {
  background-color: #508163;
  border-radius: 20px;
  padding: 6px 12px;
  color: #dadada;
  font-size: 0.85rem;
}
.routines-page-container .page-content .routines-container .exercise-component .menu-helper {
  z-index: 1;
}
.routines-page-container .page-content .routines-container .exercise-component .menu-box {
  z-index: 0;
  padding: 5px;
  padding-top: 9px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.routines-page-container .page-content .routines-container .exercise-component .menu-box svg {
  fill: #dadada;
  transition: 0.1s;
}
.routines-page-container .page-content .routines-container .exercise-component .menu-box .menu-display {
  display: none;
}
@media (min-width: 600px) {
  .routines-page-container .page-content .routines-container .exercise-component .menu-box .menu-display {
    display: none;
    position: absolute;
    top: 0;
    left: 80%;
    background-color: #3c3c3c;
    padding: 15px;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box .menu-display .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box .menu-display .content .menu-option {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #b3b3b3;
    background-color: transparent;
    border: none;
    text-decoration: none;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box .menu-display .content .menu-option .svg-fix {
    box-sizing: content-box;
    padding: 4px;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box .menu-display .content .menu-option svg {
    fill: #858585;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box .menu-display .content .hr-bar {
    height: 1px;
    background-color: #4a4a4a;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box:hover svg {
    fill: #ffffff;
    transform: scale(1.2);
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box:hover .menu-display {
    display: block;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box:hover .menu-display .content .menu-option:hover {
    color: #ffffff;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box:hover .menu-display .content .menu-option:hover svg {
    fill: #dadada;
  }
  .routines-page-container .page-content .routines-container .exercise-component .menu-box:hover .menu-display .content .menu-option:hover .delete-svg {
    fill: rgb(133, 73, 73);
  }
}
@media (min-width: 600px) {
  .routines-page-container .page-content .routines-container .exercise-component .exercises-component-container {
    width: 500px;
  }
  .routines-page-container .page-content .routines-container .exercise-component .exercises-component-container:hover {
    background-color: #666666;
  }
}
@keyframes openOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeOverlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes closeMenu {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -250px;
  }
}
.routines-page-container .page-content .routines-container .menu-display-mobile {
  z-index: 2;
  position: fixed;
  bottom: -250px;
  left: -100vw;
  width: 100%;
  height: 250px;
}
.routines-page-container .page-content .routines-container .menu-display-mobile .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
.routines-page-container .page-content .routines-container .menu-display-mobile .content .menu-option {
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #dadada;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.routines-page-container .page-content .routines-container .menu-display-mobile .content .menu-option .svg-fix {
  box-sizing: content-box;
  padding: 4px;
  fill: #858585;
}
.routines-page-container .page-content .routines-container .menu-display-mobile .content .menu-option .delete-svg {
  fill: rgb(133, 73, 73);
}
.routines-page-container .page-content .routines-container .menu-display-mobile .content .menu-option.delete {
  color: rgb(173, 66, 66);
}
.routines-page-container .page-content .routines-container .menu-display-mobile .content .hr-bar {
  height: 1px;
  background-color: #4a4a4a;
}
.routines-page-container .page-content .routines-container .menu-display-mobile .overlay {
  background-color: rgba(0, 0, 0, 0.432);
  height: 100vh;
  width: 100vw;
  border: none;
  position: absolute;
  bottom: 250px;
  left: -100vw;
}
.routines-page-container .page-content .routines-container .menu-display-mobile.active {
  left: 0;
  transition: left 0s;
  bottom: 0;
  transition: bottom 0.3s ease-out;
}
.routines-page-container .page-content .routines-container .menu-display-mobile.active .overlay {
  left: 0;
  transition: all 0s;
  animation: openOverlay 0.3s;
}
.routines-page-container .page-content .routines-container .menu-display-mobile.inactive {
  animation: closeMenu 0.3s ease-out;
  transition: all 0s 0.3s;
}
.routines-page-container .page-content .routines-container .menu-display-mobile.inactive .overlay {
  transition: all 0s 0.3s;
  animation: closeOverlay 0.3s;
}
@media (min-width: 600px) {
  .routines-page-container .page-content .routines-container .menu-display-mobile {
    display: none;
  }
}

.create-exercise-page-container {
  display: flex;
  justify-content: center;
}
.create-exercise-page-container .content {
  padding-top: 75px;
}
.create-exercise-page-container .content .title-box {
  margin-left: 10px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.create-exercise-page-container .content .title-box .back-btn {
  fill: #508163;
  padding: 5px;
}
.create-exercise-page-container .content .title-box .page-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
.create-exercise-page-container .content .form-container {
  margin-top: 15px;
  padding: 20px;
  background-color: #292b2f;
  border-radius: 8px;
  width: calc(100vw - 30px);
}
.create-exercise-page-container .content .form-container form {
  width: 100%;
}
.create-exercise-page-container .content .form-container form .name-input {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border: 3px solid #284433;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
  color: #dadada;
}
.create-exercise-page-container .content .form-container form .name-input:focus {
  border-color: #508163;
}
.create-exercise-page-container .content .form-container form .name-input:hover {
  border-color: #508163;
}
.create-exercise-page-container .content .form-container form .name-input::placeholder {
  color: #858585;
}
.create-exercise-page-container .content .form-container form .inputs-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.create-exercise-page-container .content .form-container form .inputs-container .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-exercise-page-container .content .form-container form .inputs-container .input-box label {
  color: #b3b3b3;
}
.create-exercise-page-container .content .form-container form .inputs-container .input-box select {
  width: 45%;
  background-color: transparent;
  border: 3px solid #284433;
  padding: 5px;
  border-radius: 6px;
  color: #858585;
  outline: none;
}
.create-exercise-page-container .content .form-container form .inputs-container .input-box select:focus {
  border-color: #508163;
}
.create-exercise-page-container .content .form-container form .hr-bar {
  height: 1px;
  background-color: #4a4a4a;
}
.create-exercise-page-container .content .form-container form .buttons-box {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}
.create-exercise-page-container .content .form-container form .buttons-box .form-btn {
  flex: 1;
  border: none;
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
}
.create-exercise-page-container .content .form-container form .buttons-box .save-btn {
  background-color: #35753e;
  font-weight: bold;
  color: #dadada;
}
.create-exercise-page-container .content .form-container form .buttons-box .save-btn:hover {
  background-color: #508163;
}
.create-exercise-page-container .content .form-container form .buttons-box .cancel-btn {
  background-color: #666666;
  color: #dadada;
}
.create-exercise-page-container .content .form-container form .buttons-box .cancel-btn:hover {
  background-color: #858585;
}
@media (min-width: 600px) {
  .create-exercise-page-container .content .form-container {
    width: 500px;
  }
}

.routine-view-page .page-content .routine-container .title-box .title-section .custom-tag {
  background-color: #508163;
  border-radius: 20px;
  padding: 6px 12px;
  color: #dadada;
  font-size: 0.85rem;
}
.routine-view-page .page-content .routine-container .exercise-info-box .muscle-info {
  padding: 10px 0;
  color: #b3b3b3;
}
.routine-view-page .page-content .routine-container .exercise-info-box .muscle-info span {
  font-weight: bold;
  margin-left: 5px;
}
.routine-view-page .page-content .routine-container .exercise-info-box .no-data {
  height: 100px;
  display: grid;
  place-items: center;
}
.routine-view-page .page-content .routine-container .exercise-info-box .no-data .text {
  color: #858585;
  font-weight: bold;
  font-size: 1.2rem;
}

:root {
  background-color: #191a1c;
  height: fit-content;
}

.page-content {
  min-height: 100%;
  background-color: #191a1c;
  padding-top: 65px;
}

@media (min-width: 600px) {
  .page-content {
    height: 100%;
    margin-left: 250px;
    padding-top: 25px;
  }
}
.new-btn {
  background-color: #35753e;
  border: none;
  border-radius: 8px;
  color: #dadada;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.new-btn:hover {
  background-color: #508163;
}

/*# sourceMappingURL=styles.css.map */
